.blurb {
    border:1px solid black;
    width:500px;
    padding:10px;
}



/*///////////////////////////ADMIN VIEW OF CHART//////////////////////////////*/

.chart {
  margin-left:auto;
  margin-right:auto;
  position: relative;
  top: -280px;
  left:40px;
  width: 761px;
}

#chart_area .chart {
  top:20px;
}

#profile_div .chart {
  margin-left:auto;
  margin-right:auto;
  position: relative;
  top: 50px;
  width: 761px;
}

#chart_div .chart {
  margin-left:auto;
  margin-right:auto;
  position: relative;
  top:0px;
  left:0px;
  width: 761px;
}

.chart .planet_info {
  border: 1px solid black;
  min-height:500px;
  padding:10px;
}

.chart_tabs {
  height:30px;
  
  margin-bottom:0px
  
}



.chart_tabs a {
  border: 1px solid black;
  border-bottom:0px;
  border-right:0px;
  background:#ffffff;
  color:black;
  display:block;
  text-align:center;
  text-decoration:none;
  font-size:12px;
  height:29px;
  width:75px;
  text-transform:uppercase;
  font-weight:bold;
  line-height:2em;
}



.chart_tabs .right_end {
  border-right:1px solid black;
}


.chart_tabs .selected a { 
  background:#000000;
  color:white;
}


.chart_tabs ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  padding-left:0px;

}


.chart_tabs li {
  position: relative;
  display: inline;
  float: left;
  /*padding-right:20px;*/

}



/*///////////////////////////ACTUAL, USER VIEW OF CHART//////////////////////////////*/
#starma_chart {
  width:100%;
  text-align:center;
}


#starma_chart #blurb {
    background:white;
    width:510px;
    min-height:460px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    border:1px solid black;
}

#starma_chart #blurb span {
    padding:10px;
    display:block;
}

#starma_chart #header {
  width: 100%;
  /*font-weight:bold;
  font-size:1.6em;*/
  margin-left:auto;
  margin-right:auto;
  padding-bottom:0px;
  position: relative;
    top: 3px;
}

#starma_chart #profile_back_link {
  /*background: url("/img/Starma-Astrology-Back-Arrow.png") no-repeat scroll 0 0 transparent;*/
     bottom: 29px;
    font-size: 0.8em;
    left: 30px;
    position: relative;
    text-align: left;
    width: 200px;
}

#starma_chart #name {
  width: 133px;
  font-weight:bold;
  font-size:1em;
  margin-left:auto;
  margin-right:auto;
}

#starma_chart #explanation {
  margin: 10px;
  font-size:1em;
  text-align:center;
  font-style:italic;
  text-align:left;
}

#starma_chart #planet_info {
  text-align:left;  
  padding:10px;
}

#starma_chart #planet_sign_title {
  font-size:1.1em;
  font-weight:bold; 
  text-align:center;
  padding:10px;
}


#starma_chart .chart_tabs {
  position:relative;
  height:100%;
  width:75px;
  
}

#starma_chart .chart_tabs a span {
  position:relative;
  top:65px;
}

#starma_chart .chart_tabs a span.ketu_text {
  display: block;
    position: relative;
    top: 132px;
}

#starma_chart .chart_tabs.left_side {
  float:left;
 
  
}

#starma_chart .chart_tabs.right_side {
  float:right;

}

#starma_chart .chart_tabs ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  padding-left:0px;

}


#starma_chart .chart_tabs li {
  position: relative;
  display: inline;
  padding-bottom:5px;
  /*padding-right:20px;*/
  ;
}

#starma_chart .chart_tabs.left_side li {
  float:left;
  
}

#starma_chart .chart_tabs.right_side li {
  float:right;
  
}


#starma_chart .chart_tabs a {
  border: 0px solid black;
  background-color:#ffffff;
  color:black;
  display:block;
  text-align:center;
  text-decoration:none;
  font-size:12px;
  height:88px;
  width:75px;
  text-transform:uppercase;
  font-weight:bold;
}


#starma_chart .chart_tabs .rahuketu a {
  height:180px;
}


#starma_chart .chart_tabs .selected a { 
  background-color:#000000;
  //color:white;
}

#starma_chart .chart_tabs.left_side.chart_arrow {
  left:12px;
  width:34px;
}

#starma_chart .chart_tabs.right_side.chart_arrow {
  right:12px;
  width:34px;
}

#starma_chart .chart_tabs.chart_arrow ul a {
  width:34px;
  background:#d3dbf6;
}

#starma_chart .chart_tabs.left_side.chart_arrow ul li.arrow a {
  background:url('/img/Starma-Astrology-Chart-ArrowL.png') no-repeat center center;
}

#starma_chart .chart_tabs.right_side.chart_arrow ul li.arrow a {
  background:url('/img/Starma-Astrology-Chart-ArrowR.png') no-repeat center center;
}

#chart_direction_link_east, #chart_direction_link_west {
  left: 570px;
    position: absolute;
    z-index: 1;
}

#custom_chart #chart_direction_link_east, #custom_chart #chart_direction_link_west {
  margin-top: 20px;
}
/*///////////////////////////END ACTUAL CHART//////////////////////////*/


/*///////////////////////////COMPARE CHARTS////////////////////////////*/

#chart_1_pic {
  
   float: left;
    height: 155px;
    margin-top: 35px;
    padding-right: 5px;
    text-align: center;
}

#chart_2_pic {
float: right;
    height: 155px;
    margin-top: 35px;
    padding-left: 5px;
    text-align: center;
}


#star_rating {
  position:relative;
  top:13px;
}

#star_rating .hover_box span {
   top:15px;
   left: 220px;  
   
}

#custom_chart #star_rating .hover_box span {
   top:15px;
    
}



#compare_header {
  position:relative;
  padding-bottom:20px;
}

#compare_results_selector {
  display: inline-block;
    height: 32px;
    left: 7px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    position: relative;
    /*width: 320px;*/
    width:290px;
}


#compare_results_selector ul li a {
  /*border: 1px solid black;*/
  background:#8393CA;
  color:black;
  display:block;
  text-align:center;
  text-decoration:none;
  font-size:12px;
  height:25px;
  width:90px;
  text-transform:uppercase;
  font-weight:bold;
  line-height:2em;
}

#compare_results_selector ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  padding-left:0px;

}


#compare_results_selector li {
  position: relative;
  display: inline;
  float: left;
  /*padding-right:20px;*/

}

#compare_results_selector ul li.selected a, #compare_results_selector ul li a:hover { 
  background-color:#FBF0A4;
}


#compare_results_selector li.major a {
  background-image:url("/img/Starma-Astrology-Compatibility-MMOmenu1.png");
}

#compare_results_selector li.minor a {
  background-image:url("/img/Starma-Astrology-Compatibility-MMOmenu2.png");
}

#compare_results_selector li.bonus a {
  background-image:url("/img/Starma-Astrology-Compatibility-MMOmenu3.png");
}



#compare_results #detail_selector {
  position:relative;
  bottom:5px;
  margin-bottom:5px;
}

#compare_results {
  width:100%;
  text-align:center;
  
    position: relative;
    text-align: center;
    width: 100%;
}

#compare_results #header {
  width: 100%;
 /*font-weight:bold;
  font-size:1.6em;
  line-height:1.6em;*/
  margin-left:auto;
  margin-right:auto;
  position:relative;
  top:3px;
}

#compare_results #explanation {
  font-size: 0.8em;
    line-height: 1.6em;
    margin: auto;
    padding: 10px;
    position: relative;
    text-align: center;
    top: 8px;
    width: 465px;
}

#compare_results #explanation #text_selector {
  bottom: 15px;
    position: relative;
}


#compare_results #explanation #text_selector div, #compare_results #explanation #text_selector a {
  color:black; 
  width:87px;
  height:22px;
  display:block;
  font-size:12px;
  font-weight:bold;
}

#compare_results #explanation #text_selector .friends_button {
  top:22px;
  left:115px;
  position:relative;
}

#compare_results #explanation #text_selector .friends_button a {
  background-image:url("/img/Starma-Astrology-Compatibility-FriendsOFF.png");
    
}

#compare_results #explanation #text_selector .romance_button {
  bottom:20px;
  left:260px;
  position:relative;
}

#compare_results #explanation #text_selector .romance_button a {
  background-image:url("/img/Starma-Astrology-Compatibility-RomanceOFF.png");
  
}

#compare_results #explanation #text_selector .friends_button a:hover, #compare_results #explanation #text_selector .friends_button.selected a {
  background-image:url("/img/Starma-Astrology-Compatibility-FriendsON.png");
}

#compare_results #explanation #text_selector .romance_button a:hover, #compare_results #explanation #text_selector .romance_button.selected a {
  background-image:url("/img/Starma-Astrology-Compatibility-RomanceON.png");
}

#detail_selector a {
 color:black;
}

/*///////MAJOR CONNECTIONS//////*/

#major_connections {
  width:100%;
  text-align:center;
}



#major_connections #blurb {
    background-color:white;
    border:1px solid black;
    width:510px;
    min-height:403px;
    margin-left:auto;
    margin-right:auto;
}

#major_connections #blurb span {
    padding:10px;
    display:block;
    text-align:left;
}

#major_connections #blurb #dynamic_info {
  text-align:left;  
  padding:10px;
  font-size:1em;
}

#major_connections #blurb #dynamic_sign_title {
  font-size:1.1em;
  font-weight:bold; 
  text-align:center;
  padding:10px;
}

#major_connections #header {
  width: 100%;
  font-weight:bold;
  font-size:1.6em;
  margin-left:auto;
  margin-right:auto;
}

#major_connections #explanation {
  margin: 10px;
  font-size:1em;
  text-align:center;
  font-style:italic;
  
}

#major_connections #planet_info {
  width: 100%;
  font-style:italic;
  padding:10px;
}

#major_connections .chart_tabs {
  position:relative;
  height:100%;
  width:75px;
  
}

#major_connections .chart_tabs a span {
  position:relative;
  top:65px;
  
}

#major_connections .chart_tabs.left_side {
  float:left;
  
}


#major_connections .chart_tabs.left_side.stage2 {
  margin-left:150px
  
}

#major_connections .chart_tabs.right_side {
  float:right;
  
}

#major_connections .chart_tabs.middle {
  display:block;
  margin-right:auto;
  margin-left:auto;
  width:160px;  
}


#major_connections .chart_tabs.right_side.stage2 {
  margin-right:150px;
  
}

#major_connections .chart_tabs ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  padding-left:0px;

}


#major_connections .chart_tabs li {
  position: relative;
  display: inline;
  padding-bottom:5px;
  /*padding-right:20px;*/
  ;
}

#major_connections .chart_tabs.left_side li {
  float:left;
  
}

#major_connections .chart_tabs.right_side li {
  float:right;
  
}

#major_connections .chart_tabs.middle li {
  float:left;
  
}


#major_connections .chart_tabs a {
  border:0px;
  background-color:#ffffff;
  color:black;
  display:block;
  text-align:center;
  text-decoration:none;
  font-size:12px;
  height:88px;
  width:75px;
  text-transform:uppercase;
  font-weight:bold;
}



#major_connections .chart_tabs .selected a { 
  background-color:#000000;
  //color:white;
}

#major_connections .chart_tabs.middle li a {
  width:160px;
  
  background-color:#D3DBF6;
}




/*///////MINOR CONNECTIONS//////*/

#minor_connections {
  width:100%;
  text-align:center;
}



#minor_connections #multi_blurb {
    
    margin-left:auto;
    margin-right:auto;
}

#minor_connections #multi_blurb div {
   width:510px;    
   height:116px; 
   position:relative;
   margin-bottom:10px;
   background:white;
   border:1px solid black;
   margin-left:auto;
   margin-right:auto;
}

#minor_connections #blurb1 {
    
    
}

#minor_connections #blurb1 {
    
    
}

#minor_connections #blurb1 {
    
    
}

#minor_connections #blurb1 {
    width:210px;
    height:403px;
}

#minor_connections #blurb1 {
    width:210px;
    height:403px;
}


#minor_connections #multi_blurb span {
    padding:10px;
    display:block;
}

#minor_connections #header {
  width: 100%;
  font-weight:bold;
  font-size:1.6em;
  margin-left:auto;
  margin-right:auto;
}

#minor_connections #explanation {
  margin: 10px;
  font-size:1em;
  text-align:center;
  font-style:italic;
  
}

#minor_connections #planet_info {
  width: 100%;
  font-style:italic;
  padding:10px;
}

#minor_connections .chart_tabs {
  position:relative;
  height:100%;
  width:75px;
  
}

#minor_connections .chart_tabs a span {
  position:relative;
  top:65px;
}

#minor_connections .chart_tabs.left_side {
  float:left;
  
}


#minor_connections .chart_tabs.left_side.stage2 {
  margin-left:150px
  
}

#minor_connections .chart_tabs.right_side {
  float:right;
  
}

#minor_connections .chart_tabs.middle {
  display:block;
  margin-right:auto;
  margin-left:auto;
  width:160px;
}


#minor_connections .chart_tabs.right_side.stage2 {
  margin-right:150px;
  
}

#minor_connections .chart_tabs ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  padding-left:0px;

}


#minor_connections .chart_tabs li {
  position: relative;
  display: inline;
  padding-bottom:5px;
  /*padding-right:20px;*/
  ;
}

#minor_connections .chart_tabs.left_side li {
  float:left;
  
}

#minor_connections .chart_tabs.right_side li {
  float:right;
  
}

#minor_connections .chart_tabs.middle li {
  float:left;
  
}

#minor_connections .chart_tabs.middle li.hidden {
  visibility:hidden;
  
}


#minor_connections .chart_tabs a {
  border:0px;
  background-color:#ffffff;
  color:black;
  display:block;
  text-align:center;
  text-decoration:none;
  font-size:12px;
  height:88px;
  width:75px;
  text-transform:uppercase;
  font-weight:bold;
}

#minor_connections .chart_tabs .selected a { 
  background-color:#000000;
  //color:white;
}

#minor_connections .chart_tabs.middle li a {
  width:160px;
  background-color:#D3DBF6;
  
}

/*///////ARROWS//////*/

.chart_tabs.left_side.arrows {
  
}

/*stage 2*/
#major_connections .chart_tabs.left_side.arrows.stage2 {
  
  margin-left:0px;
}


#major_connections .chart_tabs.left_side.arrows.stage2 li {
  padding-top:25px;
  padding-bottom:28px;
  left:15px;
  z-index:100;
  
}

#major_connections .chart_tabs.left_side.arrows.stage2 li.left_side_arrow a {
  background:url('/img/arrows/Starma-Astrology-Compare-Major-ArrowL.png') no-repeat center center;
  background-color:#d3dbf6;
  height:40px
}

.chart_tabs.right_side.arrows {
  
}

#major_connections .chart_tabs.right_side.arrows.stage2 {
  
  margin-right:0px;
}

#major_connections .chart_tabs.right_side.arrows.stage2 li {
  padding-top:25px;
  padding-bottom:28px;
  right:15px;
  z-index:100;
  
}

#major_connections .chart_tabs.right_side.arrows.stage2 li.right_side_arrow a {
  background:url('/img/arrows/Starma-Astrology-Compare-Major-ArrowR.png') no-repeat center center;
  background-color:#d3dbf6;
  height:40px
}


/*stage 2 minor*/

#minor_connections .chart_tabs.left_side.arrows.stage2 {
  
    height: 335px;
    left: 10px;
    margin-left: 0;
    top: 25px;
    z-index: 100;
    background-color:#D3DBF6;
}

#minor_connections .chart_tabs.left_side.arrows.stage2.rising {
  background: url("/img/arrows/Starma-Astrology-Compare-Minor-R-SMV.png") no-repeat scroll center center;
}

#minor_connections .chart_tabs.left_side.arrows.stage2.sun {
  background: url("/img/arrows/Starma-Astrology-Compare-Minor-S-RMV.png") no-repeat scroll center center;
}

#minor_connections .chart_tabs.left_side.arrows.stage2.moon {
  background: url("/img/arrows/Starma-Astrology-Compare-Minor-M-RSV.png") no-repeat scroll center center;
}

#minor_connections .chart_tabs.left_side.arrows.stage2.venus {
  background: url("/img/arrows/Starma-Astrology-Compare-Minor-V-RSM.png") no-repeat scroll center center;
}


#minor_connections .chart_tabs.right_side.arrows.stage2 {
  
  margin-right:0px;
}

#minor_connections .chart_tabs.right_side.arrows.stage2 li {
  padding-top:25px;
  padding-bottom:28px;
  right:15px;
  z-index:100;
  
}

#minor_connections .chart_tabs.right_side.arrows.stage2 li a {
  
  background-color:#d3dbf6;
  height:40px
}

#minor_connections .chart_tabs.right_side.arrows.stage2 li.right_side_arrow a {
  background:url('/img/arrows/Starma-Astrology-Compare-Minor-ArrowR.png') no-repeat center center;
}

/*stage 3*/
#major_connections .chart_tabs.arrows.stage3 {
  width:50px;
  margin-left:0px;
}

#major_connections .chart_tabs.arrows.stage3 li {
  padding-top:20px;
  padding-bottom:23px;
  z-index:100;
  
}

#major_connections .chart_tabs.left_side.arrows.stage3 li a {
  background-color:#d3dbf6;
  height:50px;
  width:50px
}

#major_connections .chart_tabs.left_side.arrows.stage3 li.left_side_arrow a {
  background:url('/img/arrows/Starma-Astrology-Compatibility-Major-ArrowLText.png') no-repeat center center;
}




#major_connections .chart_tabs.right_side.arrows.stage3 li a {
  background-color:#d3dbf6;
  height:50px;
  width:50px
}

#major_connections .chart_tabs.right_side.arrows.stage3 li.right_side_arrow a {
  background:url('/img/arrows/Starma-Astrology-Compatibility-Major-ArrowRText.png') no-repeat center center;
}

/*stage 3 minor*/

#minor_connections .chart_tabs.left_side.arrows.stage3 {
  
    height: 335px;
    right: 5px;
    margin-left: 0;
    top: 25px;
    
    background-color: #D3DBF6;
}

#minor_connections .chart_tabs.left_side.arrows.stage3.rising {
  background: url("/img/arrows/Starma-Astrology-Compatibility-Minor-ArrowLTextR-SMV.png") no-repeat scroll center center;
}

#minor_connections .chart_tabs.left_side.arrows.stage3.sun {
  background: url("/img/arrows/Starma-Astrology-Compatibility-Minor-ArrowLTextS-RMV.png") no-repeat scroll center center;
}

#minor_connections .chart_tabs.left_side.arrows.stage3.moon {
  background: url("/img/arrows/Starma-Astrology-Compatibility-Minor-ArrowLTextM-RSV.png") no-repeat scroll center center;
}

#minor_connections .chart_tabs.left_side.arrows.stage3.venus {
  background: url("/img/arrows/Starma-Astrology-Compatibility-Minor-ArrowLTextV-RSM.png") no-repeat scroll center center;
}

#minor_connections .chart_tabs.right_side.arrows.stage3 {
  
    height: 335px;
    left: 5px;
    margin-right: 0;
    top: 25px;
    
    background-color: #D3DBF6;
}

#minor_connections .chart_tabs.right_side.arrows.stage3.rising {
  background: url("/img/arrows/Starma-Astrology-Compatibility-Minor-ArrowRTextR-SMV.png") no-repeat scroll center center;
}

#minor_connections .chart_tabs.right_side.arrows.stage3.sun {
  background: url("/img/arrows/Starma-Astrology-Compatibility-Minor-ArrowRTextS-RMV.png") no-repeat scroll center center;
}

#minor_connections .chart_tabs.right_side.arrows.stage3.moon {
  background: url("/img/arrows/Starma-Astrology-Compatibility-Minor-ArrowRTextM-RSV.png") no-repeat scroll center center;
}

#minor_connections .chart_tabs.right_side.arrows.stage3.venus {
  background: url("/img/arrows/Starma-Astrology-Compatibility-Minor-ArrowRTextV-RSM.png") no-repeat scroll center center;
}


/*///////////////////////////END COMPARE CHART///////////////////////*/

