.chat_time {
   margin-top: 0;
    float:right;
    color:#CCCCCC;
}

.chat_alert_list_div .chat_request .chat_block .chat_area p.chat_time, #inbox_chat_area .chat_area p.chat_time {
  border:0px;
}

.chat_date {

    font-style: italic;
    font-weight: bold;
    text-align: right;
  margin-right:2px;
}

.chat_alert_list_div {
  height:36px;
  position:fixed;
  bottom:0px;
  width:100%;
  z-index:100;
}


.chat_alert_list_div ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  padding-left:0px;

}


.chat_alert_list_div li {
  position: relative;
  display: block;
  float: right;
  padding-right:20px;
  /*padding-right:20px;*/

}

.chat_alert_list_div li.chat_request div.chat_header_text {
  background-color:#FBF0A4;
  border:1px solid black;
  height:25px;
  width:200px;
  padding:5px;
  padding-bottom:0px;
  margin:5px;
  margin-bottom:0px;
  border-bottom:0px;
  position:relative;
  right:5px;
  font-size:0.8em;
}

.chat_alert_list_div li.chat_request a:hover, .chat_alert_list_div li.chat_request div.chat_header_text:hover {
  color:#FBF0A4;
  background-color:#8393CA;
}

.chat_alert_list_div .chat_request .chat_block {
   background: none repeat scroll 0 0 white;
   border: 1px solid black;
   height: 200px;
   width: 300px;
   font-size:0.8em;
}

.chat_alert_list_div .chat_request .chat_block .chat_area {
   height: 135px; overflow: auto; padding: 20px; background: white;
}

.chat_open {
  position:relative;
  bottom:200px;
}


.chat_alert_list_div .chat_request .chat_block .chat_area span, #inbox_chat_area .chat_area span                 { color: white; background: #333; padding: 4px 8px; -moz-border-radius: 5px; -webkit-border-radius: 8px; margin: 0 5px 0 0; }
.chat_alert_list_div .chat_request .chat_block .chat_area p, #inbox_chat_area .chat_area p                    { padding: 8px 0; border-bottom: 1px solid #ccc; }
.chat_alert_list_div .chat_request .chat_block #sendie                         { 
    border: 1px solid #999999;
    float: right;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:3px;
    line-height:1em;
    width: 288px;
    position:relative;
    bottom:1px;

 }

/*/////////////////////// BEGIN INBOX CHAT AND MESSSAGE SELECTORS ////////////////*/

#inbox_chat_area .chat_area p.is_new {
  color:red;
}

#inbox_chat_area p.chat_time.is_new  {
  color: #FF5C5C;
}

#inbox_chat_area .chat_area p {
  font-size: 1.04em;
  letter-spacing: .05px;
  line-height: 1.5;
}

#inbox_user_list {
  width:265px;
  left: 51px;
  top: 38px;
  position: absolute;
  height: 700px;
}

#inbox_header{
  text-align: left;
  margin: 0;
  border-bottom: 1px solid #C0C0C0;
  width: 421px;
  font-family: "ClarendonBT-Light";
  letter-spacing: 2px;
  font-weight: bold;  
}

#list_body {
  height:480px;
  overflow-y:hidden;
  padding: 0;
  border-right: 1px solid #C0C0C0; 
}

#inbox_user_list  #list_body ul {
  margin: 0;
}

#inbox_user_list #list_body ul li {
 
    margin: 8px 0 8px 0;
    height: 73px;
    width: 112px;
}

#inbox_user_list #list_body ul li .nickname {
    bottom:79px;
    font-size: 0.8em;
    left: 8px;
    position: relative;
    top: 4px;
    text-align: left;
    font-weight: bold;
}

/*#inbox_user_list #list_body */
.new_ball_space {
  height:73px;
  width:0px;
  position:relative;
  float: left;
  display:inline;
}

#inbox_user_list .new_ball_space.new {
  background: url("/img/Starma-Astrology-unread.png") no-repeat no-repeat center center;
}

#inbox_user_list .hover_box {
  height:73px;
  width:72px;
  position:relative;
  /*bottom:76px; */
  border:none;
  display: inline;
  float:left;
}
/*
#inbox_user_list .hover_box.selected {

  border:6px solid #fbf0a4;
}
*/

#inbox_history {
  width: 438px;
  left: 315px;
  top: 38px;
  position: absolute;
  height: 700px;
  
}


#inbox_chat_area {
    position: relative;
    padding-left: 24px;
}


#inbox_chat_area .chat_area {
  height: 261px;
  font-size:0.8em;
  border:0px solid black;
  overflow:auto;
  background:white;
  padding: 16px;
}

#inbox_chat_area #type_area {
  margin-left: 16px;
  width: 378px;
  position:relative;
  padding: 0;
}

#inbox_chat_area #sendie {
  border: 1px solid #C0C0C0;
  height: 108px;
  padding: 10px;
  margin-top: 20px;
  width: 359px;
}

#type_area.blank #sendie {
  margin-top:10px;
  height: 180px;
  border: 1px solid #C0C0C0;
}

#new_message_button {
  position:absolute;
  top:20px;
  left:584px;
}

#new_message_alert {
    background: #FF0F28;
    border: 1px solid #891A1D;
    border-radius: 2px;
    color: white;
    height: 14px;
    left: 710px;
    line-height: 14px;
    position: absolute;
    text-align: center;
    top: 11px;
    width: 14px;
    font-size: 12px;
}

/*************---Matt adding teaser blurb to Conversations */

.last_msg {
  display: inline;
  float: left;
  position: relative;
  font-size: 12px;
  left: 15px;
  width: 140px;
}

.convoWrapper {
  width: 223px;     /* 15px less than li width */
  height: 75px;
  border-bottom: 1px solid #C0C0C0;
  position: relative;
}

.convoWrapper:hover {
  background-color: #E8E8E8;
}

.link_spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: transparent;
}


/*/////////////////////// END INBOX CHAT AND MESSSAGE SELECTORS ////////////////*/
