/*

#register #create_account {
  width:800px;
}


#errors {
  display: inline-block;
  float: left;
  margin-left: 15px;
}

#register_form_errors {
  display: inline-block;
}

.register_error_area_old {
  font-size: .75em;
  text-align: left;
  height: 15px;
  width: 450px;
  float: left;
}

.error {
  color:red;
  z-index:1;
  display:block;
  
}

#desc_photo_form_div .error {
  position:absolute;
}

#register .error {
  color:red;
  position:relative;
  z-index:1;
  display:block;
  width:435px;
}

.hidden_error {
  visibility:hidden;
}

#register .hidden_error {
  visibility:hidden;
}

#register #register_form_old #user_exists_error {
 top: 7px;
    position: absolute;
}

#terms_error{
  color: red;
    display: block;
    font-size: 0.7em;
    left: 505px;
    position: relative;
    top: 30px;
    width: 300px;
    z-index: 1;
}

#not_words_error.error {
  
    bottom: 107px;
    left: 181px;
}

#photo_first_time_error.error {
  
    bottom: -60px;
    left: 228px;
}

#illegal_words_error.error {
  
    bottom: 107px;
    left: 242px;
}

#register #create_account {
  top:60px;
  width: 1000px;
  left:80px;
}

#register .title {
  position:relative;
  font-size:1.3em;
  background:url('/img/account_info/Starma-Astrology-Flare.png') no-repeat #8393CA;
  width:240px;
  height:22px;
  text-align:center;
  margin:auto;
  top:40px;
}

#register input, #register select {
  position:relative;
  
  
  margin:0px;
  
}


#register input {
  box-sizing: border-box; 
 -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
  font-size:0.65em; 
}


#register input:focus {
  outline: 0 none;

}

#register select {
  display:inline-block;
  position:relative;
}


#register #register_form div {
  position:relative;
}

#register input[focus] {
  outline: 0 none;
}

#register_form_old {
    display: inline-block;
    font-size: 1.1em;
    left: 32px;
    position: relative;
    text-align: left;
    margin-left: 190px;
    width: 612px;
}


#register img.token_img {
  position:relative;
  display:block;
  bottom:320px;
  right:65px;
}

#register #token_title {
  bottom:23px;
  left:180px;
}

#register #token_input {
  bottom:39px;
  left:165px;
  z-index:1;
}

#register #register_form_old .terms {
  width:325px;
}


#register #register_form_old #agreement_box {
  text-align:left;
  font-size:0.7em;
  left:190px;
  bottom:18px;
}

#register #register_form_old #agreement_box input {
  display:inline;
  float:left;
  position:relative;
  top:5px;
  left:0px;
  width:20px;
}

#register #agreement_box div {
  display: inline-block;
    left: 5px;
    width: 300px;
}

#agreement {
  position:relative;
  top:50px;
  width:700px;
  padding:30px;
  margin:auto;
  background: #d3dbf6;
  border-bottom-right-radius: 50px;
   border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
   border-top-left-radius: 50px;
}

#agreement ul {
  list-style-type:disc;
  margin: 20px;
  margin-left:50px;
  padding: 0;
  padding-left:0px;
}

#agreement input[type="submit"] {
  width:70px;
}

#register #reset_button_div {
  visibility:hidden;
}

#register #register_button_div {
  position: relative;
  display: inline-block;
  margin-left: 50px;
}

*/

/***************************DESC AND PHOTO FIRST TIME PAGE ONLY*******************************/
#desc_photo_first_time {
  position: relative;
  height: 502px;
}

#desc_photo_first_time #enter_info {
  margin:auto;
}

#desc_photo_first_time .title {
  position:relative;
  font-size:1.3em;
  margin:auto;
  top:40px;
}

#desc_photo_form_div {
  font-size:1.1em;
}

.go_bug_path_fix_desc_photo {
  top: 44px;
  left: 174px;
}

/*
#desc_photo_form_div select, #desc_photo_form_div input {
  font-size:0.7em;
  border: 0;
}
*/

#desc_photo_form_div div {
 
  position:relative;
}

#desc_photo_form_div #img_div {
   height: 160px;
    position: relative;
    width: 700px;
   text-align:left;
   margin:auto;
   left:65px;
}

#enter_info #desc_photo_form_div img {
   top:0px;
}

#desc_photo_first_time #enter_info #desc_photo_form_div img#gender_img {
   right:7px;
}

#desc_photo_first_time #enter_info #desc_photo_form_div #register_button_div {
    left: 190px;
    top: 185px;
    width: 100px;
    z-index:10;
}

#desc_photo_first_time #edit_descriptors {
  
    height: 30px;
    left: 20px;
    position: relative;
}

#desc_photo_first_time #edit_descriptors div {
  padding:0px;
  margin:auto;
  bottom:0px;
  left:0px;
}

#desc_photo_first_time #edit_descriptors .title {

  left: auto;
    right: 90px;
    top: 20px;
}

#desc_photo_first_time #edit_descriptors div.selector {
  display: inline-block;
    padding-right: 55px;
    width: 130px;
}

#desc_photo_first_time h1 {
  font-size: 1.2em;
    font-weight: normal;
    padding-bottom: 10px;
}

#desc_photo_first_time #photo_form_div {
   
    margin: auto;
    top: 30px;
    width: 600px;
}

#desc_photo_first_time #form_photo { 
    position: relative;
}

#desc_photo_first_time #form_photo input {
  bottom: 28px;
    display: inline-block;
    overflow: visible;
    position: relative;
    
  zoom:1;
  *display:inline;
}



#desc_photo_first_time #photo_display {
  display:inline-block;
  
  zoom:1;
  *display:inline;
}

#desc_photo_first_time #photo_cropper {
  position:relative;
  margin:auto;
  width:775px;
  top:100px;
  
  
}

#desc_photo_first_time #photo_cropper #photo_cropping_area  {
  position:relative;
  
}

#desc_photo_first_time #photo_cropper #photo_cropping_area #preview_div {
  top:0px;
  
}

#desc_photo_first_time #photo_cropper #photo_cropping_area #crop_and_set {
  top:187px;
  
}

#desc_photo_first_time #photo_cropper #photo_cropping_area #rotate_left,
#desc_photo_first_time #photo_cropper #photo_cropping_area #rotate_right {
  top:159px;
  
}

 
  



#desc_photo_first_time.crop {
  
  height:1180px;
  
}


/***************************GENDER AND LOCATION FIRST TIME PAGE ONLY**************************/

#gender_location_first_time #enter_info {
  margin:auto;
}

#gender_location_first_time .title {
  position:relative;
  font-size:1.3em;
  margin:auto;
  top:40px;
}

#gender_location_form_div {
   display: inline-block;
    font-size: 1.1em;
    text-align: left;
}
/*
#gender_location_form_div select, #gender_location_form_div input {
  font-size:0.7em;
  border: 0;
}
*/
#gender_location_form_div #js_city_div {
  display:none;
}

#gender_location_form_div div {
 
  position:relative;
}

#gender_location_form_div #img_div {
   height: 160px;
    position: relative;
    width: 350px;
   text-align:left;
   margin:auto;
   left:65px;
}

#gender_location_first_time #gender_location_form_div img {
   top:0px;
}

#gender_location_form_div img#gender_img {
   right:7px;
}

#gender_location_form_div img#country_img, #gender_location_form_div img#zip_img {
   top:37px;
}

#gender_location_form_div #input_divs {
   display: inline-block;
    position: relative;
  
}

#gender_location_form_div #current_location_text {
  position: relative;
    right: 17px;
    top: 27px;
}

#gender_location_form_div #gender_div {
  right: 107px; 
  
}

#gender_location_form_div #gender_div select {
  left: 17px;
  position:relative;
}

#gender_location_form_div #country_div {
  right: 2px; 
  top:50px;
}

#gender_location_form_div #country_div select {
  left: 19px;
  position:relative;
}

#gender_location_form_div #js_zip_div {
  
}

#gender_location_form_div #js_zip_div input {
  
}

#gender_location_form_div #location_verification {
  height: 35px;
 
}

#gender_location_form_div #js_city_div {
  
}

#gender_location_form_div #js_city_div input {
  
}

#gender_location_form_div #register_button_div {
    left: 318px;
    width: 100px;
    bottom:64px;
}

/***************************BIRTH INFO FIRST TIME PAGE ONLY**************************/
/*
#birth_info_first_time #submit_div {
  left: 300px;
}


#birth_info_first_time .error {
  color:red;
  position:relative;
  z-index:1;
  display:block;
  left:830px;
  width:435px;
}

#register .hidden_error {
  visibility:hidden;
}

#username_error {  
  bottom:535px;
}

#date_error {  
  bottom:520px;
}

#user_exists_error {  
  bottom:581px;
}

#email_error {  
  bottom:532px;
}

#email_no_match_error {  
  bottom:525px;
}

#password_error {  
  bottom:520px;
}

#token_error {  
  bottom:460px;
  color:red;
  position:relative;
  z-index:1;
  display:block;
  left:680px;
  width:435px;
}
*/

#birth_info {
  position:relative;
}

#birth_info #time_zone_div, #birth_info #latitude_div, #birth_info #longitude_div {
  width:250px;
}

#birth_info #time_zone_div input, #birth_info #latitude_div input, #birth_info #longitude_div input {
  width:25px;
}



#birth_info_first_time .title {
  position:relative;
  font-size:1.3em;
  width: 330px;
  height:22px;
  text-align:center;
  margin:auto;
  top:40px;
}

#birth_info_first_time .description, #gender_location_first_time .description, #desc_photo_first_time .description {
  position:relative;
  width:500px;
  text-align:center;
  margin:auto;
  top:50px;
}



#birth_info_first_time input, #birth_info_first_time select {
  position:relative;
  display:block;
  margin:0px;
  
}

#birth_info_first_time input, #desc_photo_first_time input {
  box-sizing: border-box; 
 -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
  font-size:0.8em;  
  width:130px;
}


#birth_info_first_time input[type="checkbox"] {
    position: relative;
    width:auto;
}


#birth_info_first_time input:focus {
  outline: 0 none;

}

#birth_info_first_time select {
  display:inline-block;
  position:relative;
 
  
}


#birth_info_first_time #birth_info div {
  position:relative;
}

#birth_info_first_time input[focus] {
  outline: 0 none;
}

#birth_info_first_time #birth_info {
  display: inline-block;
    font-size: 1.1em;
    position: relative;
    text-align: left;
}

#birth_info_first_time #birth_info .reg_title {
  text-align:right;
  width:180px;
}


#birth_info_first_time #birth_time_input select:disabled {
  background-color:white;
}

#birth_place_title, #birth_place_input {
  position:relative;
}

#birth_place_title.no_move, #birth_place_input.no_move {
  position:relative;
  bottom:0px;

}

#birth_interval_input {
  width:130px;
}


#birth_info_first_time #birth_interval_input select:disabled {
   background-color:white;
}

#birth_interval_box_title {
    
    position: relative;
}


#birth_interval_box_input {
   
    position: relative;
    
}


#birth_interval_box_help_text {
    /*bottom: -2px;*/
    display: none;
    /*left: 23px;*/
    position: absolute;
}

#birth_interval_box_help_text a {
  font-family: 'later_on';
  color: black;
}

#birth_interval_box_help_text a:hover {
  /*text-decoration: underline;*/
}

#birth_interval_box_help_text.offset {
  top: -7px;
}


#birth_info_first_time #birth_info div#birth_interval_box_help_text {
    bottom: -5px;
    display: none;
    left: 23px;
    position: absolute;
}

    
#birth_time_hover_box {
    background-color: white;
    border: 1px solid #d1d1d1;
    color: #444;
    font-size: 0.8em;
    padding-left: 3px;
    padding-right: 1px;
    padding-top: 3px;
    position: relative;
    width: 10px;
    display: inline-block;
    margin-left: 10px;
}


#birth_time_hover_box:hover {
  color:white;
  background-color:black;
  cursor: pointer;
}

#birth_time_hover_box span {
  
  left:15px;
  bottom:-180px;
  
}

#enter_info img {
  position:relative;
  top:40px;
}


/*--- OLD HOMEPAGE ---*/


/*

#p_box_blurb {
  display: inline-block;
  position: relative;
  right: 44px;
  width: 332px;
}

#sm_box_blurb {
  display: inline-block;
  margin: auto;
  width: 100%;
}

#h_box_blurb {
  display: inline-block;
  margin: auto;
  width: 100%;
}

#h_box_blurb_guest {
  display: inline-block;
  margin: auto;
  width: 100%;
}

#co_box_blurb {
  display: inline-block;
  margin: auto;
  width: 100%;
}

#co_box_blurb_sign_up {
  display: inline-block;
  margin: auto;
  width: 100%;
}

#co_box_blurb_guest {
  display: inline-block;
  margin: auto;
  width: 100%;
}

#ce_box_blurb {
  display: inline-block;
  margin: auto;
  width: 100%;
}

#ce_box_blurb_sign_up {
  display: inline-block;
  margin: auto;
  width: 100%;
}

.hsel_box_blurb {
  display: inline-block;
  margin: auto;
  width: 100%;
}
#welcome .homepage_div {
  position:absolute;
  height:231px;
  width:338px;
  border-radius: 2px;
  border: 2px solid black;
  background-color: #D3DBF6;
}

#welcome .homepage_div:hover {
  border-radius: 2px;
  box-shadow: 0 0 2px 0 #404864;
  background-color: #D3DBF6;
  transition: .3s;
}

#welcome .homepage_div .header {
    display: block;
    font-size: 2em;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 100%;
    color: #1a1d2a;
    font-family: helvetica;
    letter-spacing: 2px;
    font-family: 'later_on';
    font-weight: bold;
}

#homepage_profile_button_info {
    bottom: 1px;
    left: 49px;
    position: absolute;
    width: 252px;
}

#homepage_profile_button_info .about_photo_wrapper {
  margin: 0;
  padding: 0;
  position: absolute;
  display: block;
  width: 123px;
}

#welcome #profile_box_link {
  left:40px;
}

#welcome #homepage_suggested_match_button {
    bottom: 1px;
    position: absolute;
    width: 338px;
}

#welcome #suggested_match_link {
  left:40px;
}

.star_homepage {
  float: left;
  position: relative;
  margin-left: 5px;
}

#homepage_suggested_match {
  position: relative;
  top: 0px;
}

#homepage_suggested_match #homepage_compare_thumb_left {
  position: relative;
  margin-top: 15%;
  display: inline-block;
}

#homepage_suggested_match #homepage_compare_stars {
  display: inline-block;
  height: 20px;
  bottom: 35px;
  position: relative;
  width: 130px;
}

#homepage_suggested_match #homepage_compare_thumb_right {
  position: relative;
  display: inline-block;
}

#homepage_suggested_match #sample_compare_text {
  position: relative;
  width: 273px;
  margin: 4px auto auto;
  font-size: .93em;
  letter-spacing: .5px;
  line-height: 1.1;
}


#welcome #compare_box_link {
  left:390px;
}
#welcome #compare_box_link a.box_link {
  background:url("/img/Starma-Astrology-CompareBox.png") no-repeat scroll center center;
}
#welcome #compare_box_link a.box_link:hover {
  background:url("/img/Starma-Astrology-CompareBoxH.png") no-repeat scroll center center;
}

#welcome #community_box_link {
  left: 40px;
  top: 326px;
}

#welcome #horoscope_box_link {
    
}

#welcome #horoscope_box_link_guest {
  left: 40px;
}

#welcome #horoscope_box_link span.poi_title {
  position:relative;
  top:68px;
  left: 12px;
  font-family: "ClarendonBT-Light";
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  letter-spacing: .1em;
}

#welcome #compatibility_sample_link {
  left:399px;
}

#welcome #compatibility_sample_link #homepage_compare_sample {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

#homepage_compare_sample #sample_compare_results {
  position: relative;
  width: 100%;
}

#homepage_compare_sample #homepage_compare_thumb_left {
  position: relative;
  margin-top: 15%;
  display: inline-block;
}

#homepage_compare_sample #homepage_compare_stars {
  display: inline-block;
  height: 20px;
  bottom: 35px;
  position: relative;
  width: 120px;
}

#homepage_compare_sample #homepage_compare_thumb_right {
  position: relative;
  display: inline-block;
}

#homepage_compare_sample #sample_compare_text {
  position: relative;
  width: 245px;
  margin: 4px auto auto;
  font-size: .93em;
  letter-spacing: .5px;
}

#welcome #celebrities_box_link {
  left: 399px;
  top: 326px;
}


#welcome .homepage_div a.box_link {
    display: block;
    height: 231px;
    position: relative;
    width: 338px;
    z-index: 2;
}

#enter_birth_time_square {
  position: relative;
  top: 40px;
  right: 15px;
}

*/

/*--- END OLD HOMEPAGE ---*/

/* Removed li

li.Unknown_button span.icon, li.Unknown_button.no_hover:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Unknown-OFF.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Unknown_button.selected span.icon, li.Unknown_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Unknown-ON.png') no-repeat;
  height: 88px;
  width: 75px;
}


li.Aries_button span.icon, li.Aries_button.no_hover:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Aries-OFF.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Aries_button.selected span.icon, li.Aries_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Aries-ON.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Taurus_button span.icon, li.Taurus_button.no_hover:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Taurus-OFF.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Taurus_button.selected span.icon, li.Taurus_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Taurus-ON.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Gemini_button span.icon, li.Gemini_button.no_hover:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Gemini-OFF.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Gemini_button.selected span.icon, li.Gemini_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Gemini-ON.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Cancer_button span.icon, li.Cancer_button.no_hover:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Cancer-OFF.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Cancer_button.selected span.icon, li.Cancer_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Cancer-ON.png') no-repeat;
  height: 88px;
  width: 75px;
}

.Leo_button span.icon, .Leo_button.no_hover:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Leo-OFF.png') no-repeat;
  height: 88px;
  width: 75px;
}

.Leo_button.selected span.icon, .Leo_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Leo-ON.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Virgo_button span.icon, li.Virgo_button.no_hover:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Virgo-OFF.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Virgo_button.selected span.icon, li.Virgo_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Virgo-ON.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Libra_button span.icon, li.Libra_button.no_hover:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Libra-OFF.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Libra_button.selected span.icon, li.Libra_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Libra-ON.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Scorpio_button span.icon, li.Scorpio_button.no_hover:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Scorpio-OFF.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Scorpio_button.selected span.icon, li.Scorpio_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Scorpio-ON.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Sagittarius_button span.icon, li.Sagittarius_button.no_hover:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Sagittarius-OFF.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Sagittarius_button.selected span.icon, li.Sagittarius_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Sagittarius-ON.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Capricorn_button span.icon, li.Capricorn_button.no_hover:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Capricorn-OFF.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Capricorn_button.selected span.icon, li.Capricorn_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Capricorn-ON.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Aquarius_button span.icon, li.Aquarius_button.no_hover:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Aquarius-OFF.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Aquarius_button.selected span.icon, li.Aquarius_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Aquarius-ON.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Pisces_button span.icon, li.Pisces_button.no_hover:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Pisces-OFF.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Pisces_button.selected span.icon, li.Pisces_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Pisces-ON.png') no-repeat;
  height: 88px;
  width: 75px;
}

li.Unknown_button.rahuketu span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Unknown-OFF.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Unknown_button.rahuketu.selected span.icon, li.Unknown_button.rahuketu:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Unknown-ON.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Aquarius_Leo_button span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Aquarius-Leo-OFF.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Aquarius_Leo_button.selected span.icon, li.Aquarius_Leo_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Aquarius-Leo-ON.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Cancer_Capricorn_button span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Cancer-Capricorn-OFF.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Cancer_Capricorn_button.selected span.icon, li.Cancer_Capricorn_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Cancer-Capricorn-ON.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Aries_Libra_button span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Aries-Libra-OFF.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Aries_Libra_button.selected span.icon, li.Aries_Libra_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Aries-Libra-ON.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Capricorn_Cancer_button span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Capricorn-Cancer-OFF.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Capricorn_Cancer_button.selected span.icon, li.Capricorn_Cancer_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Capricorn-Cancer-ON.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Gemini_Sagittarius_button span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Gemini-Sagittarius-OFF.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Gemini_Sagittarius_button.selected span.icon, li.Gemini_Sagittarius_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Gemini-Sagittarius-ON.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Leo_Aquarius_button span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Leo-Aquarius-OFF.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Leo_Aquarius_button.selected span.icon, li.Leo_Aquarius_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Leo-Aquarius-ON.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Libra_Aries_button span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Libra-Aries-OFF.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Libra_Aries_button.selected span.icon, li.Libra_Aries_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Libra-Aries-ON.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Pisces_Virgo_button span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Pisces-Virgo-OFF.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Pisces_Virgo_button.selected span.icon, li.Pisces_Virgo_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Pisces-Virgo-ON.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Sagittarius_Gemini_button span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Sagittarius-Gemini-OFF.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Sagittarius_Gemini_button.selected span.icon, li.Sagittarius_Gemini_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Sagittarius-Gemini-ON.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Scorpio_Taurus_button span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Scorpio-Taurus-OFF.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Scorpio_Taurus_button.selected span.icon, li.Scorpio_Taurus_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Scorpio-Taurus-ON.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Taurus_Scorpio_button span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Taurus-Scorpio-OFF.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Taurus_Scorpio_button.selected span.icon, li.Taurus_Scorpio_button:hover span.icon  {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Taurus-Scorpio-ON.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Virgo_Pisces_button span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Virgo-Pisces-OFF.png') no-repeat;
  height: 180px;
  width: 75px;
}

li.Virgo_Pisces_button.selected span.icon, li.Virgo_Pisces_button:hover span.icon {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Virgo-Pisces-ON.png') no-repeat;
  height: 180px;
  width: 75px;
}
*/

/* OLD WAY WITH a INSTEAD OF span
li.Unknown_button a, li.Unknown_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Unknown-OFF.png') no-repeat;
}

li.Unknown_button.selected a, li.Unknown_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Unknown-ON.png') no-repeat;
}


li.Aries_button a, li.Aries_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Aries-OFF.png') no-repeat;
}

li.Aries_button.selected a, li.Aries_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Aries-ON.png') no-repeat;
}

li.Taurus_button a, li.Taurus_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Taurus-OFF.png') no-repeat;
}

li.Taurus_button.selected a, li.Taurus_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Taurus-ON.png') no-repeat;
}

li.Gemini_button a, li.Gemini_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Gemini-OFF.png') no-repeat;
}

li.Gemini_button.selected a, li.Gemini_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Gemini-ON.png') no-repeat;
}

li.Cancer_button a, li.Cancer_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Cancer-OFF.png') no-repeat;
}

li.Cancer_button.selected a, li.Cancer_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Cancer-ON.png') no-repeat;
}

li.Leo_button a, li.Leo_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Leo-OFF.png') no-repeat;
}

li.Leo_button.selected a, li.Leo_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Leo-ON.png') no-repeat;
}

li.Virgo_button a, li.Virgo_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Virgo-OFF.png') no-repeat;
}

li.Virgo_button.selected a, li.Virgo_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Virgo-ON.png') no-repeat;
}

li.Libra_button a, li.Libra_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Libra-OFF.png') no-repeat;
}

li.Libra_button.selected a, li.Libra_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Libra-ON.png') no-repeat;
}

li.Scorpio_button a, li.Scorpio_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Scorpio-OFF.png') no-repeat;
}

li.Scorpio_button.selected a, li.Scorpio_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Scorpio-ON.png') no-repeat;
}

li.Sagittarius_button a, li.Sagittarius_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Sagittarius-OFF.png') no-repeat;
}

li.Sagittarius_button.selected a, li.Sagittarius_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Sagittarius-ON.png') no-repeat;
}

li.Capricorn_button a, li.Capricorn_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Capricorn-OFF.png') no-repeat;
}

li.Capricorn_button.selected a, li.Capricorn_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Capricorn-ON.png') no-repeat;
}

li.Aquarius_button a, li.Aquarius_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Aquarius-OFF.png') no-repeat;
}

li.Aquarius_button.selected a, li.Aquarius_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Aquarius-ON.png') no-repeat;
}

li.Pisces_button a, li.Pisces_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Pisces-OFF.png') no-repeat;
}

li.Pisces_button.selected a, li.Pisces_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Pisces-ON.png') no-repeat;
}

li.Unknown_button.rahuketu a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Unknown-OFF.png') no-repeat;
}

li.Unknown_button.rahuketu.selected a, li.Unknown_button.rahuketu:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Unknown-ON.png') no-repeat;
}

li.Aquarius_Leo_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Aquarius-Leo-OFF.png') no-repeat;
}

li.Aquarius_Leo_button.selected a, li.Aquarius_Leo_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Aquarius-Leo-ON.png') no-repeat;
}

li.Cancer_Capricorn_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Cancer-Capricorn-OFF.png') no-repeat;
}

li.Cancer_Capricorn_button.selected a, li.Cancer_Capricorn_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Cancer-Capricorn-ON.png') no-repeat;
}

li.Aries_Libra_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Aries-Libra-OFF.png') no-repeat;
}

li.Aries_Libra_button.selected a, li.Aries_Libra_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Aries-Libra-ON.png') no-repeat;
}

li.Capricorn_Cancer_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Capricorn-Cancer-OFF.png') no-repeat;
}

li.Capricorn_Cancer_button.selected a, li.Capricorn_Cancer_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Capricorn-Cancer-ON.png') no-repeat;
}

li.Gemini_Sagittarius_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Gemini-Sagittarius-OFF.png') no-repeat;
}

li.Gemini_Sagittarius_button.selected a, li.Gemini_Sagittarius_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Gemini-Sagittarius-ON.png') no-repeat;
}

li.Leo_Aquarius_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Leo-Aquarius-OFF.png') no-repeat;
}

li.Leo_Aquarius_button.selected a, li.Leo_Aquarius_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Leo-Aquarius-ON.png') no-repeat;
}

li.Libra_Aries_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Libra-Aries-OFF.png') no-repeat;
}

li.Libra_Aries_button.selected a, li.Libra_Aries_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Libra-Aries-ON.png') no-repeat;
}

li.Pisces_Virgo_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Pisces-Virgo-OFF.png') no-repeat;
}

li.Pisces_Virgo_button.selected a, li.Pisces_Virgo_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Pisces-Virgo-ON.png') no-repeat;
}

li.Sagittarius_Gemini_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Sagittarius-Gemini-OFF.png') no-repeat;
}

li.Sagittarius_Gemini_button.selected a, li.Sagittarius_Gemini_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Sagittarius-Gemini-ON.png') no-repeat;
}

li.Scorpio_Taurus_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Scorpio-Taurus-OFF.png') no-repeat;
}

li.Scorpio_Taurus_button.selected a, li.Scorpio_Taurus_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Scorpio-Taurus-ON.png') no-repeat;
}

li.Taurus_Scorpio_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Taurus-Scorpio-OFF.png') no-repeat;
}

li.Taurus_Scorpio_button.selected a, li.Taurus_Scorpio_button:hover a  {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Taurus-Scorpio-ON.png') no-repeat;
}

li.Virgo_Pisces_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Virgo-Pisces-OFF.png') no-repeat;
}

li.Virgo_Pisces_button.selected a, li.Virgo_Pisces_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Virgo-Pisces-ON.png') no-repeat;
}
*/

/*OLDWAY
#section div.house {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  display: inline-block;
  float: left;
  margin: 10px 30px;
}

#section div.blurb_area_wrapper {
  border: 1px solid black;
  height: 150px;
  width: 450px;
  display: inline-block;
  margin: 10px;
}

#section div.subnav {
  border: 1px solid black;
  height: 30px;
  width: 448px;
}

#section div.subnav ul li {
  display: inline;
  border: 1px solid black;
  float:left;
}

#section div.blurb_section{
  border: 1px solid black;
  height: 112px;
  width: 444px;
  padding: 2px;
}

#section div.blurb{
  border: 1px solid black;
  height: 90px;
  padding: 10px;
  width: 422px;
  background-color: white;
}
END OLD WAY*/
