/*///////////// MATT ADDED HOUSES SECTION /////////////////////////*/

.hl_tabs {
  /*width: 115px;*/
  position: relative;
  display: inline-block;
}

#starma_house_lords .left_side {
  float: left;
}

#starma_house_lords .right_side {
  float: right;
}

.hl_li div.hl_tabs_wrapper {
  /*width: 115px;
  height: 90px;*/
  padding-bottom: 5px;
  position: relative;
  /*border: 1px solid black;*/
}

.hl_li .selected {
  border: 1px solid red;
}

#starma_house_lords #blurb {
    background: none;
    /*border: 2px solid #2c3447;*/
    /*height: 460px;*/
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    text-align: left;
    width: 510px;
    padding: 10px;
}

#starma_house_lords #hl_info {
    font-size: 0.93em;
    letter-spacing: 0.05px;
    line-height: 1.5;
    padding: 10px 20px;
    text-align: left;
}

.hl_tabs ul {
  margin-top: 0;
}
/*
#hl_scroll {
  position: relative;
  margin-top: -12px;
  margin-bottom: 8px;
  height: 25px;
}

#hl_scroll_container {
  margin-left: 129px;
  width: 472px;
}


#hl_prev {
  display: none;
  position: relative;
  cursor: pointer;
  float: left;
  font-family: 'later_on';
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 2px;
}

#hl_next {
  position: relative;
  left: 44px;
  cursor: pointer;
  float: right;
  font-family: 'later_on';
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 2px;
}
*/

#hl_scroll_container {
  width: 100%;
  margin-top: 10px;
}

#hl_scroll {
  width: 260px;
  margin: auto; 
}

#hl_prev {
  background: url('/img/houseArrowPrev.png') no-repeat;
  width: 114px;
  height: 21px;
  display: inline-block;
  margin-right: 30px;
}

#hl_next {
  background: url('/img/houseArrowNext.png') no-repeat;
  width: 114px;
  height: 21px;
  display: inline-block;
}


.hl_nav_wrapper {
  /*display: inline-block;*/
  width: 600px;
  margin: auto auto;
  /*margin-bottom: 240px;*/
}


/*//------------- HL NAV ----------------------//*/

.hl_nav {
  margin-left: 10px;
  display: inline-block;
  width: 36px;
  height: 46px;
}

.hl_nav div {
  display: inline-block;
  width: 36px;
  height: 46px;
}

.hl_nav_icon_1 div {
  background: url('/img/hl_nav_icon_1.png') no-repeat;
} 

.hl_nav_icon_1:hover div, .hl_nav_icon_1.hln_selected div {
  background: url('/img/hl_nav_icon_1ON.png') no-repeat;
} 
/*
.hl_nav_icon_1 .hln_selected {
  background: url('/img/hl_nav_icon_1ON.png') no-repeat;
} 
*/
.hl_nav_icon_2 div {
  background: url('/img/hl_nav_icon_2.png') no-repeat;
} 

.hl_nav_icon_2:hover div, .hl_nav_icon_2.hln_selected div {
  background: url('/img/hl_nav_icon_2ON.png') no-repeat;
} 
/*
.hl_nav_icon_2 .hln_selected {
  background: url('/img/hl_nav_icon_2ON.png') no-repeat;
} 
*/
.hl_nav_icon_3 div {
  background: url('/img/hl_nav_icon_3.png') no-repeat;
} 

.hl_nav_icon_3:hover div, .hl_nav_icon_3.hln_selected div  {
  background: url('/img/hl_nav_icon_3ON.png') no-repeat;
} 
/*
.hl_nav_icon_3 .hln_selected {
  background: url('/img/hl_nav_icon_3ON.png') no-repeat;
} 
*/
.hl_nav_icon_4 div {
  background: url('/img/hl_nav_icon_4.png') no-repeat;
} 

.hl_nav_icon_4:hover div, .hl_nav_icon_4.hln_selected div  {
  background: url('/img/hl_nav_icon_4ON.png') no-repeat;
} 
/*
.hl_nav_icon_4 .hln_selected {
  background: url('/img/hl_nav_icon_4ON.png') no-repeat;
} 
*/
.hl_nav_icon_5 div {
  background: url('/img/hl_nav_icon_5.png') no-repeat;
} 

.hl_nav_icon_5:hover div, .hl_nav_icon_5.hln_selected div  {
  background: url('/img/hl_nav_icon_5ON.png') no-repeat;
} 
/*
.hl_nav_icon_5 .hln_selected {
  background: url('/img/hl_nav_icon_5ON.png') no-repeat;
} 
*/
.hl_nav_icon_6 div {
  background: url('/img/hl_nav_icon_6.png') no-repeat;
} 

.hl_nav_icon_6:hover div, .hl_nav_icon_6.hln_selected div  {
  background: url('/img/hl_nav_icon_6ON.png') no-repeat;
} 
/*
.hl_nav_icon_6 .hln_selected {
  background: url('/img/hl_nav_icon_6ON.png') no-repeat;
} 
*/
.hl_nav_icon_7 div {
  background: url('/img/hl_nav_icon_7.png') no-repeat;
} 

.hl_nav_icon_7:hover div, .hl_nav_icon_7.hln_selected div  {
  background: url('/img/hl_nav_icon_7ON.png') no-repeat;
} 
/*
.hl_nav_icon_7 .hln_selected {
  background: url('/img/hl_nav_icon_7ON.png') no-repeat;
} 
*/
.hl_nav_icon_8 div {
  background: url('/img/hl_nav_icon_8.png') no-repeat;
} 

.hl_nav_icon_8:hover div, .hl_nav_icon_8.hln_selected div  {
  background: url('/img/hl_nav_icon_8ON.png') no-repeat;
} 
/*
.hl_nav_icon_8 .hln_selected {
  background: url('/img/hl_nav_icon_8ON.png') no-repeat;
} 
*/
.hl_nav_icon_9 div {
  background: url('/img/hl_nav_icon_9.png') no-repeat;
} 

.hl_nav_icon_9:hover div, .hl_nav_icon_9.hln_selected div  {
  background: url('/img/hl_nav_icon_9ON.png') no-repeat;
} 
/*
.hl_nav_icon_9 .hln_selected {
  background: url('/img/hl_nav_icon_9ON.png') no-repeat;
} 
*/
.hl_nav_icon_10 div {
  background: url('/img/hl_nav_icon_10.png') no-repeat;
} 

.hl_nav_icon_10:hover div, .hl_nav_icon_10.hln_selected div {
  background: url('/img/hl_nav_icon_10ON.png') no-repeat;
} 
/*
.hl_nav_icon_10 .hln_selected {
  background: url('/img/hl_nav_icon_10ON.png') no-repeat;
} 
*/
.hl_nav_icon_11 div {
  background: url('/img/hl_nav_icon_11.png') no-repeat;
} 

.hl_nav_icon_11:hover div, .hl_nav_icon_11.hln_selected div {
  background: url('/img/hl_nav_icon_11ON.png') no-repeat;
} 
/*
.hl_nav_icon_11 .hln_selected {
  background: url('/img/hl_nav_icon_11ON.png') no-repeat;
} 
*/
.hl_nav_icon_12 div {
  background: url('/img/hl_nav_icon_12.png') no-repeat;
} 

.hl_nav_icon_12:hover div, .hl_nav_icon_12.hln_selected div  {
  background: url('/img/hl_nav_icon_12ON.png') no-repeat;
} 
/*
.hl_nav_icon_12 .hln_selected {
  background: url('/img/hl_nav_icon_12ON.png') no-repeat;
} 
*/
.hl_icon_nav {
  /*width: 181px;
  height: 151px;*/
  margin-left: 10px;
  width: 36px;
  height: 46px;
  background: url('/img/houseTest.png') no-repeat;
  /*float: left;*/
  display: inline-block;
}

.hl_exp {
  display: none;
  position: relative;
  left: 7px;
}


#house_pic_test_left {
  height: 88px;
  width: 68px;
  float: left;
  border: 1px solid black;
}

#house_pic_test_right {
  height: 88px;
  width: 68px;
  float: right;
  border: 1px solid black;
}

#hl_results_container {
  width: 100%;
  margin-top: 30px;
  height: 177px;
}

#hl_iconL {
  width: 162px;
  height: 182px;
  /*width: 181px;
  height: 151px;*/
  /*width: 135px;
  height: 177px;*/
  /*background: url('/img/houseIcon.png') no-repeat;*/
  float: left;
  display: inline-block;
}

#hl_iconR {
  width: 162px;
  height: 182px;
  /*width: 181px;
  height: 151px;*/
  /*width: 135px;
  height: 177px;*/
  /*background: url('/img/houseIcon.png') no-repeat;*/
  float: right;
  display: inline-block;
}
/*
.hl_icon_1 {
  background: url('/img/houseIcon.png') no-repeat;
  width: 135px;
  height: 177px;
}
*/
#palenquin_wrapper {
  width: 440px;
  display: inline-block;
  /*margin-bottom: 35px;*/
}

#palenquin_stars {
  width: 292px;
  height: 88px;
  background: url('/img/palenquinStars.png') no-repeat;
  margin: auto;
  /*margin-left: 107px;
  margin-right: 77px;*/
  display: inline-block;
  /*float: left;*/
  margin-left: 90px;
}

#hl_blurb {
  width: 390px;
  margin: 0 auto;
  margin-bottom: 40px;
  line-height: 125%;
  letter-spacing: .05px;
  position: relative;
  top: -41px;
}

/*
#house_column {
  display: inline-block;
  margin: 10px 20px;
  border: 1px solid black;
  min-height: 252px;
}

.house_column_wrapper {
  display: inline-block;
}

#house_column div.ruled_house {
  display: inline-block;
  padding: 0 2px;
  border: 1px solid black;
  height: 88px;
  width: 75px;
  float: left;
}

#house_column div.residence {
  display: inline-block;
  padding: 0 2px;
  border: 1px solid black;
  float:left;
}

#house_column div.house_blurb {
  padding: 10px;
  height: auto;
  border: 1px solid black;
  display: inline-block;
  float: left;
  width: 478px;
  margin: 0 20px;
}

#house_column div.house_residence {
  float:right;
  height: 88px;
  width: 75px;
  border: 1px solid black;
  display: inline-block;
  padding: 0 2px;
}

#house_column ul li {
  margin: 10px;
}
*/




