/*///////////// MATT ADDED HOUSES SECTION /////////////////////////*/

#house_column {
  display: inline-block;
  margin: 10px 20px;
  border: 1px solid black;
  min-height: 252px;
}

.house_column_wrapper {
  display: inline-block;
}

#house_column div.ruled_house {
  display: inline-block;
  padding: 0 2px;
  border: 1px solid black;
  height: 88px;
  width: 75px;
  float: left;
}

#house_column div.residence {
  display: inline-block;
  padding: 0 2px;
  border: 1px solid black;
  float:left;
}

#house_column div.house_blurb {
  padding: 10px;
  height: auto;
  border: 1px solid black;
  display: inline-block;
  float: left;
  width: 478px;
  margin: 0 20px;
}

#house_column div.house_residence {
  float:right;
  height: 88px;
  width: 75px;
  border: 1px solid black;
  display: inline-block;
  padding: 0 2px;
}

#house_column ul li {
  margin: 10px;
}