#my_photos .grid_photo_wrapper:hover .profile_tiny {
  display:table-cell;
  position:absolute;
  right:1000px;
  
}

#my_photos .grid_photo_wrapper .profile_mouseover {
  display:table-cell;
  position:absolute;
  right:1000px;
  
}

#my_photos .grid_photo_wrapper:hover .profile_mouseover {

  position:static;
  right:0px;
  
}
