#stars_bg {
  background: url('/img/stars_bg.png') repeat;
  background-position: center;
}

#initial_confirm_form{
  width: 100%;
}

#initial_confirm_form #confirm_form {
  font-size:1.5em;
  line-height: 1.5em;
  margin:auto;
  padding:10px;
  padding-top:15px;
  width:500px;
  height:270px;
  /*background-color:#d3dbf6;*/
  text-align:center;
  margin-top: 20px;
}

#inbox_chat_area input[type="submit"] {
  padding:5px;
  margin:5px;
  margin-top:30px;
  width:230px;
  height:30px;
  text-transform:capitalize;
  font-weight:bold;
  cursor: pointer;
}

/*#initial_confirm_form input[type="submit"], */

#confirm_form_button {
  padding:5px;
  margin:5px;
  margin-top:30px;
  width:230px;
  height:30px;
  text-transform:capitalize;
  font-weight:bold;
  cursor: pointer;
}

#confirm_form_button:hover {
  box-shadow: -15px -15px -15px gray inset;
}

#initial_confirm_form #confirm_form span {
  font-weight:bold;
  font-size:1.1em;
}

#inbox_chat_area input[type="submit"] {
  margin-top:10px;
  margin-left:0px;
}

/****************LANDING PAGE****************************/
/*
#landing, #register, #birth_info_first_time, #gender_location_first_time, #desc_photo_first_time {
  width:1200px;
  height:890px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}
*/
#landing {
  min-width: 1150px;
  margin: 0 auto;
}

/*

#landing .bg, #register .bg, #birth_info_first_time .bg, #gender_location_first_time .bg, #desc_photo_first_time .bg, #initial_confirm_form #logo {
  position:relative;
  display:block;
}

#landing #logo, #register #logo, #birth_info_first_time #logo, #gender_location_first_time #logo, #desc_photo_first_time #logo, #sign_in, #enter_info, #initial_confirm_form #logo {
  margin-left:auto; 
  margin-right:auto
}

#landing #logo, #register #logo, #birth_info_first_time #logo, #gender_location_first_time #logo, #desc_photo_first_time #logo, #initial_confirm_form #logo {
  width:500px;
  height:170px;
  top:25px;
  
}

#birth_info_first_time #enter_info, #gender_location_first_time #enter_info, #desc_photo_first_time #enter_info {
  width:668px;
  top:50px;
  text-align:center;
  background: #8393CA;
}

#landing #sign_in {
  width:668px;
  top:70px;
  text-align:center;
  background: #8393CA;
}

#landing #sign_in img, #birth_info_first_time #enter_info img, #gender_location_first_time #enter_info img, #desc_photo_first_time #enter_info img {
 margin-right:auto;
 margin-left:auto;
}


*/

#landing_footer {
  display: inline-block;
  font-size: 0.8em;
  position: relative;
  top: 445px;
  left: -1px;
  width: 454px;
}

#landing_footer #footer_links {
  margin:auto;
}

#landing_footer #footer_links ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  padding-left:0px;
}

#landing_footer #footer_links ul li {
  position: relative;
  display: inline-block;
  float: left;
}

#landing_footer #footer_links ul li a{
  color:#e7ebee;
}
#landing_footer #footer_links ul li a.padding_right {
  padding-right: 30px;
}

#landing #sign_in .title {
    font-size: 1.1em;
    left: 208px;
    position: relative;
    text-align: center;
    width: 100px;
}




#login_form {
  position: relative;
  display:block;
  
  font-size:1.1em;
  text-align:left;
}

#login_form table {
  margin: auto;
    position: relative;
    right: 45px;
}

/*
#login_form table tr td, #register_form table tr td, #gender_location_form table tr td, #birth_info table tr td{
  padding:5px;
  
}
*/



#login_form input[type="text"],
#login_form input[type="password"] {
  position:relative;
  display:block;
  border-top: 1px solid #5F78B1;
  border-bottom: 1px solid #6680BE;
  border-left: 1px solid #6376A9;
  border-right: 1px solid #6B7FB6;
  box-sizing: border-box; 
 -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
  font-size:0.8em;
  height:27px;
  border-radius: 2px;
  box-shadow: 0 0 2px #313E5C inset;
  padding: 4px;
}

#login_form input[type="text"]:focus,
#login_form input[type="password"]:focus {
  outline: 0 none;

}


#login_form div {
  position:relative;
}


#landing #login_button_div{
    bottom: 58px;
    left: 26px;
    position: relative;
}

#login_form #stay_logged_in_input {
    bottom: 41px;
    font-size: 0.8em;
    left: 230px;
    position: absolute;
}

/*

#landing #create_account_old {
  position:relative;
  text-align:center;
  width:300px;
  margin-left: 60%;
  top: 76px;
}


#landing #forgot_password {
    bottom: 114px;
    font-size: 0.7em;
    left: 434px;
    position: relative;
    text-align: left;
    width: 200px;
}
*/

.landing_error {
    bottom: 131px;
    color: red;
    float: right;
    font-size: 0.8em;
    position: relative;
    right: 190px;
    width: 300px;
}

#bug_button, #birth_info input[name="submit"]  {
  background:url('/img/account_info/Starma-Astrology-Space-Bug.png') no-repeat;
  width:76px;
  height:63px;
  border:0px;
}

#bug_button:hover, #birth_info input[name="submit"]:hover{
  cursor: hand; 
  cursor: pointer;
  background:url('/img/account_info/Starma-Astrology-Space-BugHover.png') no-repeat;
  
}

#explore_container {
  position: absolute;
  right: 8%;
  top: 38%;
}

#explore {
    border: 1px solid #1a1d2a;
    border-radius: 3px;
    box-shadow: 0 0 2px 0 #1a1d2a inset;
    display: inline-block;
    padding: 8px;
    position: relative;
}

#explore a {
  color: #1a1d2a;
  font-family: 'later_on';
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.4em;
}

#explore a:hover {
  color: #D5D5D5;
}

#explore a:active {
  color: white;
}

.sign_up_text {
  font-family: 'later_on';
  color: #1a1d2a;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2.2em;
  letter-spacing: 2px;
}



.sign_up {
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #1a1d2a; 
  color: #1a1d2a;
  box-shadow: 0 0 2px 0 #4b5a80 inset;
  cursor: pointer;
  padding: 8px;
  font-family: 'later_on';
  font-weight: bold;
  font-size: 1.4em;
  letter-spacing: 8px;
  border-radius: 3px;
}

.sign_up:hover {
  box-shadow: 0 0 3px #3E4D74 inset;
  background-color: #6F83BB;
  text-decoration: underline; 
}

.sign_me_up {
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #1a1d2a; 
  color: #1a1d2a;
  box-shadow: 0 0 2px 0 #4b5a80 inset;
  cursor: pointer;
  padding: 8px;
  font-family: 'later_on';
  font-weight: bold;
  font-size: 1.4em;
  letter-spacing: 8px;
  border-radius: 3px;
}

.sign_me_up:hover {
  box-shadow: 0 0 3px #3E4D74 inset;
  background-color: #6F83BB;
  text-decoration: underline; 
}

/*
.sign_me_up {
  width: 100%;
  border-top: 1px solid #5F78B1;
  border-bottom: 1px solid #6680BE;
  border-left: 1px solid #6376A9;
  border-right: 1px solid #6B7FB6;
  color: white;
  background-color: #6F83BB;
  box-shadow: 0 0 1px #4B5A80;
  cursor: pointer;
  padding: 5px;
  font-size: 1.2em;
  letter-spacing: 1px;
  text-shadow: -1px -1px #4b5a80;
  border-radius: 3px;
  margin-bottom: 5px;
}

*/

#or {
  color: #1a1d2a;
  text-align: center;
  margin-bottom: 15px;
  font-family: 'later_on';
  font-weight: bold;
  font-size: 2.2em;
}

.sign_up_cancel {
  float: right;
  margin-right: 15px;
  margin-top: 3px;
  border-top: 1px solid #5F78B1;
  border-bottom: 1px solid #6680BE;
  border-left: 1px solid #6376A9;
  border-right: 1px solid #6B7FB6;
  color: white;
  background-color: #6F83BB;
  box-shadow: 0 0 1px #4B5A80;
  cursor: pointer;
}

/*************LOGOTEST************/

#logo_test {
  width: 100%;
  min-width: 1150px; 
}

#logo_test_img {
  position: relative;
  left:  2% ;
  display: inline-block;
  top: 5px;
}

#tagline {
    bottom: 58px;
    color: #e7ebee;
    display: inline-block;
    font-family: "later_on";
    font-size: 1.25em;
    font-weight: bold;
    left: -34px;
    letter-spacing: 4px;
    position: relative;
}


/***************************************  LANDING LOGIN  ****************************************/

#globe_and_footer {
  margin: -36px auto auto;
  width: 453px;
}


#globe_landing {
  position: absolute;
  height: 376px;
  width: 376px;
  margin-left: 19px;
  padding: 20px;
  border-radius: 500px;
  background: #8393ca;
  background: radial-gradient(circle, #8393ca 29%, #424e6f 91%, #353e57 32%, #161b24 85%, black);*/
  background: -webkit-radial-gradient(circle, #8393ca 29%, #424e6f 91%, #353e57 32%, #161b24 85%, black); /* Safari */
  background: -o-radial-gradient(circle, #8393ca 29%, #424e6f 91%, #353e57 32%, #161b24 85%, black); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, #8393ca 29%, #424e6f 91%, #353e57 32%, #161b24 85%, black); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, #8393ca 29%, #424e6f 91%, #353e57 32%, #161b24 85%, black); /* Standard syntax */
}


#landing_sign_up_box {
  width:244px; 
  height: 250px;
  margin: 41px auto;
  background: #e7ebee; 
  font-size:.9em; 
  padding: 20px;
  box-shadow: 0 3px 13px 0 #1a1d2a;
  border: 1px solid #1a1d2a;
}

#landing_login_box {
  display: inline-block;
  float: right;
  position: relative;
  right: 3%;
  top: 17px;
}

#forgot_password_landing {
  color: #e7ebee;
  bottom: 8px;
  font-size: 12px;
  left: 191px;
  position: relative;
  cursor: pointer;
  width: 129px;
  font-family: "ClarendonBT-Light";
  letter-spacing: 1px;
}

#stay_logged_in_landing {
  color: #e7ebee;
  bottom: 22px;
  font-family: "ClarendonBT-Light";
  font-size: 12px;
  position: relative;
  vertical-align: top;
  width: 155px;
  letter-spacing: 1px;
}

#login_button {
  float: right; 
  bottom: 81px;
  left: 10px; 
  position:relative;
  margin-bottom: 15px;
  border: 1px solid #1a1d2a; 
  color: #e7ebee;
  box-shadow: 0 0 2px 0 #4b5a80 inset;
  cursor: pointer;
  padding: 8px;
  font-family: 'later_on';
  font-weight: bold;
  font-size: 1.4em;
  letter-spacing: 8px;
  border-radius: 3px;
  background: transparent;
}

#go_bug_path_landing {
  background: url('/img/Starma-Astrology-go-bug-path.png') no-repeat;
  float:left;
  width: 344px;
  height: 73px;
}

#go_bug_button {
    background: url("/img/GoBug.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    height: 87px;
    position: relative;
    width: 95px;
    cursor: pointer;
}

#go_bug_button:hover {
  background: url('/img/GoBugON.png') no-repeat;
}



/***************************************  LANDING REGISTRATION  ****************************************/




/**************************************  GUEST LOGIN POPUP  *************************************************/

#login_box {
  /*width: 244px;*/
  /*margin: auto;*/
}

#login_box .title {
  font-size: 1.6em;
  color: #6F83BB;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
}

#login_box input[type=text], #login_box input[type=password] {
  color: #181A1C;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 38px;
  padding: 0 10px;
  border: 1px solid #1a1d2a;
  box-shadow: 0 0 2px 0 #4b5a80 inset;
  background: #e7ebee;
}

/*
#login_box input[type=text]:focus, #login_box input[type=password]:focus {
  border: 1px solid #8393CA;
}
*/
::-webkit-input-placeholder {
  
}

:-moz-placeholder { /* Firefox 18- */
 
}

::-moz-placeholder {  /* Firefox 19+ */
    
}

:-ms-input-placeholder {  
 
}

#login_box #forgot_password {
  position: relative;
  margin: -12px 0 10px 0;
  cursor: pointer;
}

#login_box #stay_logged_in {
  position: relative;
  float: left;
  margin-bottom: 20px;
  font-family: "P22UndergroundBook",Helvetica,Arial,sans-serif;
  width: 100%;
}

#login_box input[type=checkbox] {
  position: relative;
  float: left;
  margin: 0 10px 0 0;
}


/***************************************  GUEST REGISTRATION POPUP  ****************************************/

#create_account {
  display: none;
  width: 244px;
  margin: auto;
}

#create_account .title {
  font-size: 1.6em;
  color: #6F83BB;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
}

#create_account .small_title {
  font-size: .75em;
  color: #6F83BB;
  text-align: left;
  margin-bottom: 5px;
  letter-spacing: .5px;
}

#create_account #birthday {
  margin-bottom: 10px;
}

#create_account #birthday span select {
  color: #777777;
}

#register_form input[type="text"], #register_form input[type="password"] {
  color: #181A1C;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 3px;
  height: 33px;
  padding: 0 10px;
  border: 1px solid #d1d1d1;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15) inset;
}

#register_form input:focus {
  border: 1px solid #8393CA;
}

::-webkit-input-placeholder {
  
}

:-moz-placeholder { /* Firefox 18- */
 
}

::-moz-placeholder {  /* Firefox 19+ */
    
}

:-ms-input-placeholder {  
 
}

#terms {
  font-size: .75em;
  color: #939393;
  width: 100%;
  line-height: 1.3;
  letter-spacing: .5px;
  margin-bottom: 10px;
}

#terms a {
  font: .75em;
  text-decoration: underline;
  color: inherit;
  font-weight: bold;
  line-height: normal;
}

#terms a:hover {
  color: #444444;
}

#cancel_email_sign_up {
  text-align: center;
  font-size: .65em;
  cursor: pointer;
  color: #939393;
  text-decoration: underline;
  margin: auto;
  width: 60px;
}

#cancel_email_sign_up:hover {
  color: #444444;
}

#email {
  margin:0;
}

/*--ERRORS--*/


.reg_err {
  color:red;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 90px;
  line-height: 36px;
}

.reg_err_exp {
  color: #C82923;
  display: none;
  position: absolute;
  background-color: #f4f4f4;
  font-size: .8em;
  z-index: 1000;
  padding: 6px;
  border-radius: 3px;
  left: 334px;
}

#reg_err_username_exp {
  top:77px;
  width: 140px;
}

#reg_err_birthday_exp {
  top:138px;
  width: 140px;
}

#reg_err_email_exp {
  top:171px;
  width: 140px;
}

#reg_err_password_exp {
  top:215px;
  width: 140px;
}

.register_error_area {
  color: #C82923;
  position: relative;
  margin: -16px 0 10px 10px;
  font-size: .8em;
}


/*--END NEW WAY--*/


#register #create_account {
  width:800px;
}


#errors {
  display: inline-block;
  float: left;
  margin-left: 15px;
}

#register_form_errors {
  display: inline-block;
}

.register_error_area_old {
  font-size: .75em;
  text-align: left;
  height: 15px;
  width: 450px;
  float: left;
}

.register_error {
  z-index: 1;
  color: #C82923;
}

.error {
  color:red;
  z-index:1;
  display:block;
  
}

.check {
  z-index: 1;
  color: green;
  text-align: left;
}

#desc_photo_form_div .error {
  position:absolute;
}

#register .error {
  color:red;
  position:relative;
  z-index:1;
  display:block;
  width:435px;
}

.hidden_error {
  visibility:hidden;
}

#register .hidden_error {
  visibility:hidden;
}

#register #register_form_old #user_exists_error {
 top: 7px;
    position: absolute;
}

#terms_error{
  color: red;
    display: block;
    font-size: 0.7em;
    left: 505px;
    position: relative;
    top: 30px;
    width: 300px;
    z-index: 1;
}

#not_words_error.error {
  
    bottom: 107px;
    left: 181px;
}

#photo_first_time_error.error {
  
    bottom: -60px;
    left: 228px;
}

#illegal_words_error.error {
  
    bottom: 107px;
    left: 242px;
}

#register #create_account {
  top:60px;
  width: 1000px;
  left:80px;
}

#register .title {
  position:relative;
  font-size:1.3em;
  background:url('/img/account_info/Starma-Astrology-Flare.png') no-repeat #8393CA;
  width:240px;
  height:22px;
  text-align:center;
  margin:auto;
  top:40px;
}

#register input, #register select {
  position:relative;
  
  
  margin:0px;
  
}


#register input {
  box-sizing: border-box; 
 -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
  font-size:0.65em; 
}


#register input:focus {
  outline: 0 none;

}

#register select {
  display:inline-block;
  position:relative;
}


#register #register_form div {
  position:relative;
}

#register input[focus] {
  outline: 0 none;
}

#register_form_old {
    display: inline-block;
    font-size: 1.1em;
    left: 32px;
    position: relative;
    text-align: left;
    margin-left: 190px;
    width: 612px;
}


#register img.token_img {
  position:relative;
  display:block;
  bottom:320px;
  right:65px;
}

#register #token_title {
  bottom:23px;
  left:180px;
}

#register #token_input {
  bottom:39px;
  left:165px;
  z-index:1;
}

#register #register_form_old .terms {
  width:325px;
}


#register #register_form_old #agreement_box {
  text-align:left;
  font-size:0.7em;
  left:190px;
  bottom:18px;
}

#register #register_form_old #agreement_box input {
  display:inline;
  float:left;
  position:relative;
  top:5px;
  left:0px;
  width:20px;
}

#register #agreement_box div {
  display: inline-block;
    left: 5px;
    width: 300px;
}

#agreement {
  position:relative;
  top:50px;
  width:700px;
  padding:30px;
  margin:auto;
  background: #d3dbf6;
  border-bottom-right-radius: 50px;
   border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
   border-top-left-radius: 50px;
}

#agreement ul {
  list-style-type:disc;
  margin: 20px;
  margin-left:50px;
  padding: 0;
  padding-left:0px;
}

#agreement input[type="submit"] {
  width:70px;
}

#register #reset_button_div {
  visibility:hidden;
}

#register #register_button_div {
  position: relative;
  display: inline-block;
  margin-left: 50px;
}

/***************************DESC AND PHOTO FIRST TIME PAGE ONLY*******************************/
#desc_photo_first_time {
  position: relative;
  height: 502px;
}

#desc_photo_first_time #enter_info {
  margin:auto;
}

#desc_photo_first_time .title {
  position:relative;
  font-size:1.3em;
  margin:auto;
  top:40px;
}

#desc_photo_form_div {
  font-size:1.1em;
}

.go_bug_path_fix_desc_photo {
  top: 44px;
  left: 174px;
}

/*
#desc_photo_form_div select, #desc_photo_form_div input {
  font-size:0.7em;
  border: 0;
}
*/

#desc_photo_form_div div {
 
  position:relative;
}

#desc_photo_form_div #img_div {
   height: 160px;
    position: relative;
    width: 700px;
   text-align:left;
   margin:auto;
   left:65px;
}

#enter_info #desc_photo_form_div img {
   top:0px;
}

#desc_photo_first_time #enter_info #desc_photo_form_div img#gender_img {
   right:7px;
}

#desc_photo_first_time #enter_info #desc_photo_form_div #register_button_div {
    left: 190px;
    top: 185px;
    width: 100px;
    z-index:10;
}

#desc_photo_first_time #edit_descriptors {
  
    height: 30px;
    left: 20px;
    position: relative;
}

#desc_photo_first_time #edit_descriptors div {
  padding:0px;
  margin:auto;
  bottom:0px;
  left:0px;
}

#desc_photo_first_time #edit_descriptors .title {

  left: auto;
    right: 90px;
    top: 20px;
}

#desc_photo_first_time #edit_descriptors div.selector {
  display: inline-block;
    padding-right: 55px;
    width: 130px;
}

#desc_photo_first_time h1 {
  font-size: 1.2em;
    font-weight: normal;
    padding-bottom: 10px;
}

#desc_photo_first_time #photo_form_div {
   
    margin: auto;
    top: 30px;
    width: 600px;
}

#desc_photo_first_time #form_photo { 
    position: relative;
}

#desc_photo_first_time #form_photo input {
  bottom: 28px;
    display: inline-block;
    overflow: visible;
    position: relative;
    
  zoom:1;
  *display:inline;
}



#desc_photo_first_time #photo_display {
  display:inline-block;
  
  zoom:1;
  *display:inline;
}

#desc_photo_first_time #photo_cropper {
  position:relative;
  margin:auto;
  width:775px;
  top:100px;
  
  
}

#desc_photo_first_time #photo_cropper #photo_cropping_area  {
  position:relative;
  
}

#desc_photo_first_time #photo_cropper #photo_cropping_area #preview_div {
  top:0px;
  
}

#desc_photo_first_time #photo_cropper #photo_cropping_area #crop_and_set {
  top:187px;
  
}

#desc_photo_first_time #photo_cropper #photo_cropping_area #rotate_left,
#desc_photo_first_time #photo_cropper #photo_cropping_area #rotate_right {
  top:159px;
  
}

 
  



#desc_photo_first_time.crop {
  
  height:1180px;
  
}


/***************************GENDER AND LOCATION FIRST TIME PAGE ONLY**************************/

#gender_location_first_time #enter_info {
  margin:auto;
}

#gender_location_first_time .title {
  position:relative;
  font-size:1.3em;
  margin:auto;
  top:40px;
}

#gender_location_form_div {
   display: inline-block;
    font-size: 1.1em;
    text-align: left;
}
/*
#gender_location_form_div select, #gender_location_form_div input {
  font-size:0.7em;
  border: 0;
}
*/
#gender_location_form_div #js_city_div {
  display:none;
}

#gender_location_form_div div {
 
  position:relative;
}

#gender_location_form_div #img_div {
   height: 160px;
    position: relative;
    width: 350px;
   text-align:left;
   margin:auto;
   left:65px;
}

#gender_location_first_time #gender_location_form_div img {
   top:0px;
}

#gender_location_form_div img#gender_img {
   right:7px;
}

#gender_location_form_div img#country_img, #gender_location_form_div img#zip_img {
   top:37px;
}

#gender_location_form_div #input_divs {
   display: inline-block;
    position: relative;
  
}

#gender_location_form_div #current_location_text {
  position: relative;
    right: 17px;
    top: 27px;
}

#gender_location_form_div #gender_div {
  right: 107px; 
  
}

#gender_location_form_div #gender_div select {
  left: 17px;
  position:relative;
}

#gender_location_form_div #country_div {
  right: 2px; 
  top:50px;
}

#gender_location_form_div #country_div select {
  left: 19px;
  position:relative;
}

#gender_location_form_div #js_zip_div {
  
}

#gender_location_form_div #js_zip_div input {
  
}

#gender_location_form_div #location_verification {
  height: 35px;
 
}

#gender_location_form_div #js_city_div {
  
}

#gender_location_form_div #js_city_div input {
  
}

#gender_location_form_div #register_button_div {
    left: 318px;
    width: 100px;
    bottom:64px;
}

/***************************BIRTH INFO FIRST TIME PAGE ONLY**************************/
/*
#birth_info_first_time #submit_div {
  left: 300px;
}


#birth_info_first_time .error {
  color:red;
  position:relative;
  z-index:1;
  display:block;
  left:830px;
  width:435px;
}

#register .hidden_error {
  visibility:hidden;
}

#username_error {  
  bottom:535px;
}

#date_error {  
  bottom:520px;
}

#user_exists_error {  
  bottom:581px;
}

#email_error {  
  bottom:532px;
}

#email_no_match_error {  
  bottom:525px;
}

#password_error {  
  bottom:520px;
}

#token_error {  
  bottom:460px;
  color:red;
  position:relative;
  z-index:1;
  display:block;
  left:680px;
  width:435px;
}
*/

#birth_info {
  position:relative;
}

#birth_info #time_zone_div, #birth_info #latitude_div, #birth_info #longitude_div {
  width:250px;
}

#birth_info #time_zone_div input, #birth_info #latitude_div input, #birth_info #longitude_div input {
  width:25px;
}



#birth_info_first_time .title {
  position:relative;
  font-size:1.3em;
  width: 330px;
  height:22px;
  text-align:center;
  margin:auto;
  top:40px;
}

#birth_info_first_time .description, #gender_location_first_time .description, #desc_photo_first_time .description {
  position:relative;
  width:500px;
  text-align:center;
  margin:auto;
  top:50px;
}



#birth_info_first_time input, #birth_info_first_time select {
  position:relative;
  display:block;
  margin:0px;
  
}

#birth_info_first_time input, #desc_photo_first_time input {
  box-sizing: border-box; 
 -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
  font-size:0.8em;  
  width:130px;
}


#birth_info_first_time input[type="checkbox"] {
    position: relative;
    width:auto;
}


#birth_info_first_time input:focus {
  outline: 0 none;

}

#birth_info_first_time select {
  display:inline-block;
  position:relative;
 
  
}


#birth_info_first_time #birth_info div {
  position:relative;
}

#birth_info_first_time input[focus] {
  outline: 0 none;
}

#birth_info_first_time #birth_info {
  display: inline-block;
    font-size: 1.1em;
    position: relative;
    text-align: left;
}

#birth_info_first_time #birth_info .reg_title {
  text-align:right;
  width:180px;
}


#birth_info_first_time #birth_time_input select:disabled {
  background-color:white;
}

#birth_place_title, #birth_place_input {
  position:relative;
}

#birth_place_title.no_move, #birth_place_input.no_move {
  position:relative;
  bottom:0px;

}

#birth_interval_input {
  width:130px;
}


#birth_info_first_time #birth_interval_input select:disabled {
   background-color:white;
}

#birth_interval_box_title {
    
    position: relative;
}


#birth_interval_box_input {
   
    position: relative;
    
}


#birth_interval_box_help_text {
    bottom: -2px;
    display: none;
    left: 23px;
    position: absolute;
}

#birth_interval_box_help_text.offset {
  top: -21px;
}


#birth_info_first_time #birth_info div#birth_interval_box_help_text {
    bottom: -5px;
    display: none;
    left: 23px;
    position: absolute;
}

    
#birth_time_hover_box {
    background-color: white;
    border: 1px solid #d1d1d1;
    color: #444;
    font-size: 0.8em;
    padding-left: 3px;
    padding-right: 1px;
    padding-top: 3px;
    position: relative;
    width: 10px;
    display: inline-block;
    margin-left: 10px;
}


#birth_time_hover_box:hover {
  color:white;
  background-color:black;
  cursor: pointer;
}

#birth_time_hover_box span {
  
  left:15px;
  bottom:-180px;
  
}

#enter_info img {
  position:relative;
  top:40px;
}

/*
#register #email2_title {
  bottom:18px;
}

#register #email2_input {
  bottom:36px;
}

#register #password_title {
  bottom:27px;
}

#register #password_input {
  bottom:46px;
}

#register img.token_img {
  position:relative;
  display:block;
  bottom:320px;
  right:65px;
}

#register #token_title {
  bottom:23px;
  left:180px;
}

#register #token_input {
  bottom:39px;
  left:165px;
  z-index:1;
}

*/


/*********************BUGABOOS**************************/

#bug1 {
    float: right;
    height: 75px;
    position: absolute;
    right: 65px;
    top: 36px;
    width: 69px;
}

#bug2 {
   height: 81px;
    left: 59px;
    position: absolute;
    width: 149px;
    top: 415px;
}

#feet_bug {
    height: 110px;
    width: 108px;
    margin-left: 22px;
    background: url('/img/feet_bug_rays.png') no-repeat;
}

#feet_bug:hover {
  background: url('/img/feet_bug_rays_ON.png') no-repeat;
}

#planet {
   height: 81px;
    left: 59px;
    position: absolute;
    width: 149px;
    top: 415px;
}

/********************* FORGOT PASSWORD **************************/

#forgot_password_box {
  display: none;
  margin: auto;
  width: 244px;
}

#forgot_password_box input {
  color: #181A1C;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 3px;
  height: 38px;
  padding: 0 10px;
  border: 1px solid #d1d1d1;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15) inset;
}

#forgot_password_box input:focus {
  border: 1px solid #8393CA;
}

#forgot_password_box .title {
    color: #6f83bb;
    font-size: 1.6em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

#sending {
  display: none;
  margin: auto;
  text-align: center;
}

