/********************* --Matt--

input{
    border-bottom: 1px solid #6275A7;
    border-left: 1px solid #6376A9;
    border-right: 1px solid #6B7FB6;
    border-top: 1px solid #5A6683;
    box-shadow: 1px 2px 4px #4A587E inset;
    width: 200px;
    padding: 4px;

}

//this is what Ariana likes sort of
input{
    border-color: #677AAE #768CC9 #768CC9 #677AAE;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 2px #677AAE inset;
    width: 200px;
}

// For email and password login add deeper shadow to labels onfocus input field
.login_labels {
    background: none repeat scroll 0 0 #4A587E;
    border-bottom: 1px solid #4A587E;
    border-left: 1px solid #4A587E;
    border-top: 1px solid #4A587E;
    box-shadow: 1px 5px 5px #29334C inset;
    color: #FFFFFF;
    height: 25px;         // this is to match the padding 4px in the input field.  
    padding-right: 5px;
    padding-left: 25px;
    text-shadow: -1px -1px #20283C;
}


*/

/*   --Matt--  Changed border radius, added left and right borders as placeholders   */
#page_body {
    background-color: #D3DBF6;
    border-left: 2px solid #4A587E;
    border-right: 1px solid #4A587E;
    float: right;
    min-height: 782px;
    padding: 10px;
    position: relative;
    top: -229px;
    width: 775px;
}


#welcome {
  padding-top:3px;
  padding-left:25px;
  padding-right:25px;
}


#welcome .flare_title .title_content {
  font-size:1.8em;
}

#welcome .homepage_div {
  position:absolute;
  height:275px;
  width:350px;
}

#welcome .homepage_div span {
    display: block;
    font-size: 1.9em;
    position: absolute;
    text-align: center;
    top: 16px;
    width: 100%;
}

#welcome #profile_box_link {
  left:40px;
}
#welcome #profile_box_link a.box_link {
  background:url("/img/Starma-Astrology-ProfileBox.png") no-repeat scroll center center;
}
#welcome #profile_box_link a.box_link:hover {
  background:url("/img/Starma-Astrology-ProfileBoxH.png") no-repeat scroll center center;
}

#welcome #compare_box_link {
  left:390px;
}
#welcome #compare_box_link a.box_link {
  background:url("/img/Starma-Astrology-CompareBox.png") no-repeat scroll center center;
}
#welcome #compare_box_link a.box_link:hover {
  background:url("/img/Starma-Astrology-CompareBoxH.png") no-repeat scroll center center;
}

#welcome #community_box_link {
  left:399px;
}

#welcome #community_box_link a.box_link {
  background:url("/img/Starma-Astrology-Community.png") no-repeat scroll center center;
}
#welcome #community_box_link a.box_link:hover {
  background:url("/img/Starma-Astrology-CommunityH.png") no-repeat scroll center center;
}


#welcome #horoscope_box_link {
left: 40px;
    top: 411px;
}
#welcome #horoscope_box_link a.box_link {
  background:url("/img/Starma-Astrology-ChartBox.png") no-repeat scroll center center;
}
#welcome #horoscope_box_link a.box_link:hover {
  background:url("/img/Starma-Astrology-ChartBoxH.png") no-repeat scroll center center;
}


#welcome #celebrities_box_link {
 left: 399px;
    top: 412px;
}
#welcome #celebrities_box_link a.box_link {
  background:url("/img/Starma-Astrology-Celebrities.png") no-repeat scroll center center;
}
#welcome #celebrities_box_link a.box_link:hover {
  background:url("/img/Starma-Astrology-CelebritiesH.png") no-repeat scroll center center;
}

#welcome .homepage_div a.box_link {
  display: block;
    height: 275px;
    position: relative;
    width: 350px;
    z-index: 2;
}

#welcome #header {
  width:600px;
  text-align:center;
  margin:auto;
  margin-top:20px;
  margin-bottom:10px;
  -webkit-text-size-adjust: 100%
}

#logout_link {
   display: block;
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: 2;
}

/*//////////////TOP NAV BAR/////////////////////////////////////////////////////*/

#topnav {
  width:980px;
  height:70px;
  background-color:#8393CA;
  
}

#topnav ul li a {
  display:block;
  height:70px;
  color:black;
}

#topnav ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  padding-left:0px;

}


#topnav ul li {
  position: relative;
  display: inline;
  float: left;
  /*padding-right:20px;*/

}

#topnav ul li a {
  background-color:#8393CA;
}

#topnav ul li.selected a {
  background-color:#fbf0a4;
}

#topnav ul li a span {
  position:relative;
}

#topnav ul li.logo a {
  background:url('/img/top_nav_shorter/Starma-Astrology-TopNavLogo.png') no-repeat #8393CA;
  width:185px;
}

#topnav ul li.home_link a {
  background:url('/img/top_nav_shorter/Starma-Astrology-Home.png') no-repeat #8393CA;
  width:113px;
}

#topnav ul li.home_link:hover a {
  background-color:#fbf0a4;
}

#topnav ul li.home_link a span {
  top:46px;
  left:39px;
}

#topnav ul li.profile_link a {
  background:url('/img/top_nav_shorter/Starma-Astrology-Profile.png') no-repeat #8393CA;
  width:113px;
}


#topnav ul li.profile_link:hover a {
  background-color:#fbf0a4;
}

#topnav ul li.profile_link a span {
   left: 35px;
    top: 46px;
}


/*
#topnav ul li.chart_link a {
  background:url('/img/top_nav_shorter/Starma-Astrology-ChartTransparent.png') no-repeat #8393CA;
  width:113px;
}


#topnav ul li.chart_link:hover a {
  background-color:#fbf0a4;
}


#topnav ul li.chart_link a span {
  top:27px;
  left:42px;
}
*/

#topnav ul li.compare_link a {
  background:url('/img/top_nav_shorter/Starma-Astrology-Community.png') no-repeat #8393CA;
  width:113px;
}

#topnav ul li.compare_link:hover a {
  background-color:#fbf0a4;
}

#topnav ul li.compare_link a span {
  left: 21px;
    top: 46px;
}

#topnav ul li.celeb_link a {
  background:url('/img/top_nav_shorter/Starma-Astrology-Celebrities.png') no-repeat #8393CA;
  width:113px;
}


#topnav ul li.celeb_link:hover a {
  background-color:#fbf0a4;
}

#topnav ul li.celeb_link a span {
  left: 18px;
    top: 46px;
}

#topnav ul li.inbox_link a {
  background:url('/img/top_nav_shorter/Starma-Astrology-Mail.png') no-repeat #8393CA;
  width:113px;
}


#topnav ul li.inbox_link:hover a {
 background-color:#fbf0a4;
}

#topnav ul li.inbox_link a span {
  top:46px;
  left:40px;
}

#topnav ul li.selected a {
  background-color:#fbf0a4;
}

#topnav ul li a img {
  border:0px;
}

#topnav ul li span {
  display:block;
  
  font-size:0.8em;
}

#topnav ul li:hover span {
  display:block;
  
}

/*//////////////// END TOP NAV BAR ////////////////////////////////////////*/


/*//////////////// SIDE NAV BAR ///////////////////////////////////////////*/

#sidenav {
  width:185px;
  position:relative;  
}

#sidenav ul li a {
  text-align:right;
  font-size:1.1em;
  display:block;
  width:185px;
  color:black;
  margin: 0px;
  padding:0px;
  line-height:37px;

}

#sidenav ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  padding-left:0px;

}


#sidenav ul li {
  position: relative;
  display: inline;
  /*padding-right:20px;*/

}

#sidenav ul li.inactive a {
  color:#777777;
}

#sidenav ul li a {
  background-color:#8393CA;
}

#sidenav ul li.sidenav1 a {
  background:url('/img/Starma-Astrology-SideNav1.png') no-repeat;
  height:37px;
  line-height:25px;
}

#sidenav ul li.sidenav1.active:hover a {
  background:url('/img/SideNavHover/Starma-Astrology-SideNavH1.png') no-repeat;
}

#sidenav ul li.sidenav1.selected.active a {
  background:url('/img/Starma-Astrology-SideNav1On.png') no-repeat;
}

#sidenav ul li.sidenav2 a {
  background:url('/img/Starma-Astrology-SideNav2.png') no-repeat;
  height:36px;
}

#sidenav ul li.sidenav2.active:hover a {
  background:url('/img/SideNavHover/Starma-Astrology-SideNavH2.png') no-repeat;
}

#sidenav ul li.sidenav2.selected.active a {
  background:url('/img/Starma-Astrology-SideNav2On.png') no-repeat;
}

#sidenav ul li.sidenav3 a {
  background:url('/img/Starma-Astrology-SideNav3.png') no-repeat;
  height:35px;
}

#sidenav ul li.sidenav3.active:hover a {
  background:url('/img/SideNavHover/Starma-Astrology-SideNavH3.png') no-repeat;
}

#sidenav ul li.sidenav3.selected.active a {
  background:url('/img/Starma-Astrology-SideNav3On.png') no-repeat;
}

#sidenav ul li.sidenav4 a {
  background:url('/img/Starma-Astrology-SideNav4.png') no-repeat;
  height:37px;
}

#sidenav ul li.sidenav4.active:hover a {
  background:url('/img/SideNavHover/Starma-Astrology-SideNavH4.png') no-repeat;
}

#sidenav ul li.sidenav4.selected.active a {
  background:url('/img/Starma-Astrology-SideNav4On.png') no-repeat;
}

#sidenav ul li.sidenav5 a {
  background:url('/img/Starma-Astrology-SideNav5.png') no-repeat;
  height:37px;
}

#sidenav ul li.sidenav5.active:hover a {
  background:url('/img/SideNavHover/Starma-Astrology-SideNavH5.png') no-repeat;
}

#sidenav ul li.sidenav5.selected.active a {
  background:url('/img/Starma-Astrology-SideNav5On.png') no-repeat;
}

#sidenav ul li.sidenav6 a {
  background:url('/img/Starma-Astrology-SideNav6.png') no-repeat;
  height:38px;
}

#sidenav ul li.sidenav6.active:hover a {
  background:url('/img/SideNavHover/Starma-Astrology-SideNavH6.png') no-repeat;
}

#sidenav ul li.sidenav6.selected.active a {
  background:url('/img/Starma-Astrology-SideNav6On.png') no-repeat;
}

#sidenav ul li a img {
  border:0px;
}

/*//////////////// END SIDE NAV BAR /////////////////////////////////////*/

/*//////////////// SIGN ICONS ///////////////////////////////////////////*/
li.Unknown_button a, li.Unknown_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Unknown-OFF.png') no-repeat;
}

li.Unknown_button.selected a, li.Unknown_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Unknown-ON.png') no-repeat;
}


li.Aries_button a, li.Aries_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Aries-OFF.png') no-repeat;
}

li.Aries_button.selected a, li.Aries_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Aries-ON.png') no-repeat;
}

li.Taurus_button a, li.Taurus_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Taurus-OFF.png') no-repeat;
}

li.Taurus_button.selected a, li.Taurus_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Taurus-ON.png') no-repeat;
}

li.Gemini_button a, li.Gemini_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Gemini-OFF.png') no-repeat;
}

li.Gemini_button.selected a, li.Gemini_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Gemini-ON.png') no-repeat;
}

li.Cancer_button a, li.Cancer_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Cancer-OFF.png') no-repeat;
}

li.Cancer_button.selected a, li.Cancer_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Cancer-ON.png') no-repeat;
}

li.Leo_button a, li.Leo_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Leo-OFF.png') no-repeat;
}

li.Leo_button.selected a, li.Leo_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Leo-ON.png') no-repeat;
}

li.Virgo_button a, li.Virgo_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Virgo-OFF.png') no-repeat;
}

li.Virgo_button.selected a, li.Virgo_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Virgo-ON.png') no-repeat;
}

li.Libra_button a, li.Libra_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Libra-OFF.png') no-repeat;
}

li.Libra_button.selected a, li.Libra_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Libra-ON.png') no-repeat;
}

li.Scorpio_button a, li.Scorpio_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Scorpio-OFF.png') no-repeat;
}

li.Scorpio_button.selected a, li.Scorpio_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Scorpio-ON.png') no-repeat;
}

li.Sagittarius_button a, li.Sagittarius_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Sagittarius-OFF.png') no-repeat;
}

li.Sagittarius_button.selected a, li.Sagittarius_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Sagittarius-ON.png') no-repeat;
}

li.Capricorn_button a, li.Capricorn_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Capricorn-OFF.png') no-repeat;
}

li.Capricorn_button.selected a, li.Capricorn_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Capricorn-ON.png') no-repeat;
}

li.Aquarius_button a, li.Aquarius_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Aquarius-OFF.png') no-repeat;
}

li.Aquarius_button.selected a, li.Aquarius_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Aquarius-ON.png') no-repeat;
}

li.Pisces_button a, li.Pisces_button.no_hover:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Pisces-OFF.png') no-repeat;
}

li.Pisces_button.selected a, li.Pisces_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Pisces-ON.png') no-repeat;
}

li.Unknown_button.rahuketu a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Unknown-OFF.png') no-repeat;
}

li.Unknown_button.rahuketu.selected a, li.Unknown_button.rahuketu:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Unknown-ON.png') no-repeat;
}

li.Aquarius_Leo_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Aquarius-Leo-OFF.png') no-repeat;
}

li.Aquarius_Leo_button.selected a, li.Aquarius_Leo_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Aquarius-Leo-ON.png') no-repeat;
}

li.Cancer_Capricorn_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Cancer-Capricorn-OFF.png') no-repeat;
}

li.Cancer_Capricorn_button.selected a, li.Cancer_Capricorn_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Cancer-Capricorn-ON.png') no-repeat;
}

li.Aries_Libra_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Aries-Libra-OFF.png') no-repeat;
}

li.Aries_Libra_button.selected a, li.Aries_Libra_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Aries-Libra-ON.png') no-repeat;
}

li.Capricorn_Cancer_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Capricorn-Cancer-OFF.png') no-repeat;
}

li.Capricorn_Cancer_button.selected a, li.Capricorn_Cancer_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Capricorn-Cancer-ON.png') no-repeat;
}

li.Gemini_Sagittarius_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Gemini-Sagittarius-OFF.png') no-repeat;
}

li.Gemini_Sagittarius_button.selected a, li.Gemini_Sagittarius_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Gemini-Sagittarius-ON.png') no-repeat;
}

li.Leo_Aquarius_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Leo-Aquarius-OFF.png') no-repeat;
}

li.Leo_Aquarius_button.selected a, li.Leo_Aquarius_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Leo-Aquarius-ON.png') no-repeat;
}

li.Libra_Aries_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Libra-Aries-OFF.png') no-repeat;
}

li.Libra_Aries_button.selected a, li.Libra_Aries_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Libra-Aries-ON.png') no-repeat;
}

li.Pisces_Virgo_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Pisces-Virgo-OFF.png') no-repeat;
}

li.Pisces_Virgo_button.selected a, li.Pisces_Virgo_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Pisces-Virgo-ON.png') no-repeat;
}

li.Sagittarius_Gemini_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Sagittarius-Gemini-OFF.png') no-repeat;
}

li.Sagittarius_Gemini_button.selected a, li.Sagittarius_Gemini_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Sagittarius-Gemini-ON.png') no-repeat;
}

li.Scorpio_Taurus_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Scorpio-Taurus-OFF.png') no-repeat;
}

li.Scorpio_Taurus_button.selected a, li.Scorpio_Taurus_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Scorpio-Taurus-ON.png') no-repeat;
}

li.Taurus_Scorpio_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Taurus-Scorpio-OFF.png') no-repeat;
}

li.Taurus_Scorpio_button.selected a, li.Taurus_Scorpio_button:hover a  {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Taurus-Scorpio-ON.png') no-repeat;
}

li.Virgo_Pisces_button a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Virgo-Pisces-OFF.png') no-repeat;
}

li.Virgo_Pisces_button.selected a, li.Virgo_Pisces_button:hover a {
  background:url('/img/sign_buttons/Starma-Astrology-Rahu-Ketu-Virgo-Pisces-ON.png') no-repeat;
}

/*//////////////// END SIGN ICONS ///////////////////////////////////////*/

/*//////////////// DYNAMIC ICONS ///////////////////////////////////////////*/

li.my_7_button a {
  background:url('/img/Starma-Astrology-Compatibility-Challenges.png') no-repeat center top;
}

li.my_6_button a {
  background:url('/img/Starma-Astrology-Compatibility-Disappointments.png') no-repeat center top;
}

li.my_5_button a {
  background:url('/img/Starma-Astrology-Compatibility-Power-Sharing.png') no-repeat center top;
}

li.my_4_button a {
  background:url('/img/Starma-Astrology-Compatibility-Friends.png') no-repeat center top;
}

li.my_3_button a {
  background:url('/img/Starma-Astrology-Compatibility-Great-Admirers.png') no-repeat center top;
}

li.my_2_button a {
  background:url('/img/Starma-Astrology-Compatibility-Magnetic-Attraction.png') no-repeat center top;
}

li.my_1_button a {
  background:url('/img/Starma-Astrology-Compatibility-Peas-In-A-Pod.png') no-repeat center top;
}

li.my_unknown_button a {
  background:url('/img/Starma-Astrology-Compatibility-Unknown.png') no-repeat center top;
}
/*//////////////// DYNAMIC ICONS ///////////////////////////////////////*/

/*//////////////// MAIN PROFILE ///////////////////////////////////////*/

.edit_icon, .edit_icon_hidden {
  background:url('/img/Starma-Astrology-Edit-Pencil.png') no-repeat #D3DBF6;
  width:15px;
  height:16px;
  display:none;
}

.js_edit_input_object {
  display:none;
}


#profile_page .header {
  top:3px;
  position:relative;
  /*font-weight:bold;*/
  /*font-size:1.3em;*/
  /*background:url('/img/Starma-Astrology-Profile-Flare.png') no-repeat #D3DBF6;*/
  /*width:201px;*/
  /*height:29px;*/
  /*text-align:center;*/
  margin:auto;
  
}

.profile_button a {
  position:absolute;  
  color: #000000;
  display: block;
  font-size: 1.1em;
}

.profile_button a:hover {
  
  
    
}

.profile_button.chat_button {
  bottom: 241px;
    height: 25px;
    left: 620px;
    position: relative;
    width: 65px;
    
}

.profile_button.chat_button a {
    background:url('/img/profile/Starma-Astrology-Chat.png') no-repeat ;
    height:25px;
    width:65px;
    display:block;
    padding-left: 10px;
}

.profile_button.chat_button:hover a {
    background:url('/img/profile/Starma-Astrology-ChatON.png') no-repeat ;
    
}

.profile_button.compare_button  {
   bottom: 250px;
    height: 97px;
    left: 622px;
    position: relative;
    width: 155px;
}

.profile_button.compare_button a {
    background:url('/img/profile/Starma-Astrology-Compare.png') no-repeat ;
    
    height: 59px;
    padding-left: 37px;
    padding-top: 39px;
    width: 155px;
}

.profile_button.compare_button:hover a {
    background:url('/img/profile/Starma-Astrology-CompareON.png') no-repeat ;
    
}

.profile_button.chart_button {
  bottom: 213px;
    height: 40px;
    left: 647px;
    position: relative;
    width: 130px;
    
}

.profile_button.chart_button a {
    background:url('/img/Starma-Astrology-View-Chart.png') no-repeat ;
    height:40px;
    width:130px;
    display:block;
}

.profile_button.chart_button:hover a {
    background:url('/img/Starma-Astrology-View-ChartON.png') no-repeat ;
    
}

.profile_button.message_button {
  bottom: 265px;
    height: 25px;
    left: 690px;
    position: relative;
    width: 84px;
    
}

.profile_button.message_button a {
    background:url('/img/profile/Starma-Astrology-Message.png') no-repeat ;
    height:25px;
    width:84px;
    display:block;
    padding-left: 4px;
}

.profile_button.message_button:hover a {
    background:url('/img/profile/Starma-Astrology-MessageON.png') no-repeat ;
    
}


.profile_button.custom_compare_button a {
    position:absolute;
    left: 520px;
    top: 12px;
    
}

.profile_button.add_favorite_button, .profile_button.remove_favorite_button {
    bottom: 253px;
    height: 25px;
    left: 585px;
    position: relative;
    width: 189px;
    
}

.profile_button.add_favorite_button a, .profile_button.remove_favorite_button a {
    background:url('/img/profile/Starma-Astrology-Favorites.png') no-repeat ;
    height: 25px;
    line-height: 18px;
}

.profile_button.remove_favorite_button a {
    width: 189px;
    padding-left: 16px;
    padding-top:0px;
}

.profile_button.add_favorite_button a {
   padding-left: 29px;
   padding-top: 1px;
   width: 160px;
}

.profile_button.remove_favorite_button a {
    font-size:0.9em;
    line-height: 21px;
    padding-left: 14px;
}

.profile_button.add_favorite_button:hover a, .profile_button.remove_favorite_button:hover a {
    background:url('/img/profile/Starma-Astrology-FavoritesON.png') no-repeat ;    
}



.profile_button.custom_chart_button a {
   /*bottom: 705px;*/
   position:absolute;
   bottom: 765px;
    left: 590px;
}

#custom_chart .flare_title {
  position:relative;
  padding-bottom:23px;
}

#custom_chart .compare .flare_title {
  position:relative;
  padding-bottom:0px;
}

#custom_chart #header_desc {
  padding:10px;
  padding-top:20px;
  padding-bottom:20px;
  text-align:center;
}

#profile_photo_grid #my_photos {
    left: 33px;
    margin-top: 20px;
    position: relative;
    width: 500px;
  
}

#profile_page #main_photo_box {
  top:23px;
}

#profile_page #profile_photo_and_info {
  position:relative;
  height:250px;
  width:177px;
  top:8px;
  left:30px;
  text-align:center;
  font-size:0.8em;
}

.profile_info_area {
  width:177px;
  position:relative;
  bottom:10px;
  
}

.my_page .profile_info_area {
  bottom: -5px;
}

.my_page .profile_info_area .nickname_area {
  bottom:170px;
  
}



.profile_info_area .nickname_area {
  font-size:1.1em;
  position:relative;
  bottom:165px;
  
  
}

.user_block .profile_info_area, #chart_1_pic .profile_info_area, #chart_2_pic .profile_info_area {
  bottom: 12px;
    font-size: 0.7em;
    margin: auto;
    position: relative;
    width: 139px;
}

.user_block .profile_info_area .nickname_area, #chart_1_pic .profile_info_area .nickname_area, #chart_2_pic .profile_info_area .nickname_area {
  bottom: 142px;
    font-weight: bold;
    position: relative;
}

#chart_1_pic .profile_info_area, #chart_2_pic .profile_info_area {
    bottom: 27px;

}

#chart_1_pic .profile_info_area .nickname_area, #chart_2_pic .profile_info_area .nickname_area {
    bottom:134px;
}

#chart_1_pic .profile_info_area .nickname_area span, #chart_2_pic .profile_info_area .nickname_area span, .nickname_area span {
   bottom: 2px;
    
    font-size: 2em;
    position: relative;
    right: 2px;
    vertical-align: middle;

}


#chart_1_pic .profile_info_area .name_area, #chart_2_pic .profile_info_area .name_area {
    line-height: 0;
    position: relative;
    top: 5px;
}

#profile_photo_and_info .profile_info_area .name_area {

 line-height: 1.3em;
    position: relative;
    top: 3px;
}
  
#descriptors {
   bottom: 210px;
   float: right;
   position: relative;
   width:520px;
   right:35px;
}

#descriptors div {
   height:25px;
}

#descriptors div .value {
   bottom: 25px;
    left: 20px;
    position: relative;
   width: 150px;
}

.des_selector {
  padding-bottom:10px;
}

.des_selector input{
  position:relative;
  bottom:3px;
}


#descriptors .value:hover a.edit_icon {
  display:inline-block;
}

#homepage_profile_button_info #descriptors {
   bottom:0px;
   position: absolute;
   right:-54px;
   
   width:auto
}

#homepage_profile_button_info #descriptors div {
   height:30px;
   
}

#homepage_profile_button_info #descriptors div .value {
   bottom: 46px;
    left: 18px;
    position: relatve;
   
}

#welcome .homepage_div #homepage_profile_button_info span {
    text-align: left;
    font-size: 1em;
    
}

#edit_descriptors {
   
}

#edit_descriptors div {
  
}

#edit_descriptors div .value {
   bottom: 20px;
    left: 20px;
    position: relative
}

#interests {
  display:block;
  width:670px;
  margin:auto;
  position:relative;
  bottom:68px;
}




.my_page #interests {
 
}
 
#interests .column {
  width:450px;
   
}

#interests #left_column {
  float:left;  
   
}

#interests #right_column {
  float:right;  
   
}

#interests .column .single_interest {
  display:inline-block;
  padding:10px;
}

#interests .column .single_interest div {
  display:block;
}

#interests div .title {
  font-weight:bold;
}

#interests div .value {
  /*height:100px;*/
  width:450px;
  overflow:auto;
  /*background:white;
  border:solid black 1px;*/
}

#edit_interests {
  padding:10px;
  padding-bottom:20px;
}

#edit_interests textarea {
   height: 150px;
    width: 400px;
   padding:5px;
}

#profile_sections {
    border-top: 1px solid black;
    bottom: 102px;
    float: left;
    position: relative;
    right: 10px;
    width: 795px;
}

.celeb_page #profile_sections {
    
    bottom: auto;
    margin-top:25px;
    
}

#profile_sections #profile_nav {
   height: 20px;
    left: 91px;
    position: absolute;
    top: -38px;
}

#profile_sections #profile_nav ul li {
   display: inline;
    float: left;
    position: relative;
}

#profile_sections #profile_nav ul li a {
  border:1px solid black;
  border-right:0px;
  padding:5px;
  text-align:center;
  margin:0px;
  display:block;
  width:100px;
  font-size: 0.8em;
    height: 10px;
    line-height: 0.8em;
  color:black;
}

#profile_sections #profile_nav ul li.end a {
  border:1px solid black;
  
}

#profile_sections #profile_nav ul li a.selected, #profile_sections #profile_nav ul li a:hover {
  background:black;
  color:white;
  
}

#profile_sections #section {
  padding:10px;
  width:775px;
}


/*//////////////// END MAIN PROFILE ///////////////////////////////////////*/

/*//////////////// OTHER COMPARE PAGES ///////////////////////////////////////*/

#js_celebrity_frame {
  
}

#search_bar_div {
    position: relative;
    margin:auto;
    width:350px;
}

#search_bar_div #search_bar_input {
    bottom: 20px;
    left: 60px;
    position: relative;
    width: 500px;
}

#search_bar_div #search_bar_input input[type="text"]{
    
    width: 200px;
}



/*//////////////// END OTHER COMPARE PAGES ///////////////////////////////////////*/

/*//////////////// SETTINGS ///////////////////////////////////////*/
#settings_form {
  padding:10px;
}

#settings .flare_title {
  top:3px;
  position:relative;
}


/*//////////////// SETTINGS ///////////////////////////////////////*/