#main_photo {
   
   height:153px;
   width:153px;
   text-align:center;
   vertical-align:middle;
   display:table-cell;
   background-color:black;
   overflow:hidden;
}

#photo_error {
   bottom: 164px;
    color: red;
    left: 150px;
    position: relative;
    width: 500px;
}

#border_wrapper {
   z-index:1;   
   /*height:240px;
   width:248px;*/
   height:171px;
   width:171px;
   display:table-cell;
   border-spacing:9px 8px;
   background: url("/img/Starma-Astrology-Profile-Pic-Frame.png") no-repeat scroll 0 0;
   background-color:#D3DBF6;

}

#main_photo_box {
  position:relative;
  height:171px;
  width:171px;
}

#main_photo_box #border_wrapper #main_photo .fitter {
  display:block;
  width:153px;
}

#main_photo img {
  /*height:200px;
  width:200px;*/
 
  
}





#my_photos {
  min-height:100px;
  width:775px;
  position:relative;
  /*bottom:100px;*/
  border-spacing:5px;
}

#photo_table {
  margin: auto;
}

#photo_table td {
  border: 2px solid black;
  height: 123px;
  width: 123px;
  background: black;
}

#photo_table td.no_photo {
  background: #424a65;
  cursor: pointer;
}

#photo_table td.no_photo:hover {
  /*text-decoration: underline;*/
  /*background: #fbf0a4;*/
  /*box-shadow: 1px 1px 13px 0 inset;*/
}

#photo_table td.no_photo:active {
  /*text-decoration: underline;*/
  /*background: #fbf0a4;*/
  /*box-shadow: 1px 1px 20px 0 inset;*/
}

#photo_table td.has_photo, #photo_table td.has_photo img {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

#photo_table td div.div_no_photo {
  background: #e7ebee;
  border: 2px solid black;
  padding: 2px 5px;
  text-align: center;
  margin: auto auto;
  width: 74px;
}

#photo_table td div.div_no_photo:hover {
  box-shadow: 0 0 4px 0 black;
  transition: .3s;
}

#photo_table .delete_photo, #photo_table .make_profile_pic {
  display: none;
  cursor: pointer;
  position: absolute;
  background-color: #17181C;
  opacity: .8;
  color: white;
  z-index: 1;
  cursor: pointer;
  padding: 2px;
}

#photo_table .delete_photo {
  bottom: 0;
}

#cancel_photo {
  margin: 10px 0 0 2px;
  cursor: pointer;
}

.photo_profile_err {
  color: #C82923;
  font-size: .8em;
  margin-bottom: 10px;
}

#next_profile {
    font-size: 1.19em;
    text-align: right;
    border: none;
    background: #e7ebee;
    float: right;
    padding: 1px;
}

#cancel_delete_photo {
  font-size: 1.19em; 
  border: none;
  background: #e7ebee;
  float: left;
  margin-top: 15px;
}

#confirm_delete_photo {
  font-size: 1.19em; 
  border: none;
  background: #e7ebee;
  float: right;
  margin-top: 15px;
}



#my_photos .delete_grid_photo {
    background-color: #8393CA;
    border: 1px solid #c7c7c7;
    font-size: 0.6em;
    height: 15px;
    width: 45px;
    margin: 5px auto auto;
    text-align: center;
}

#my_photos .delete_grid_photo:hover {
  background-color: #FBF0A4;
  cursor: pointer;
}


#my_photos .delete_grid_photo a {
    color: black;
    line-height: 15px;
    font-weight: bold;
}


#homepage_thumbnails .grid_photo_wrapper {
    border-spacing: 0;
    display: inline-block;
    height: 70px;
    padding: 2px;
    vertical-align: top;
    width: 70px;
}

#homepage_thumbnails .grid_photo_border_wrapper:hover {
  box-shadow: 1px 1px 15px #37406F inset;
}

#my_photos .grid_photo_wrapper {
    border-spacing: 0;
    display: inline-block;
    height: 90px;
    padding: 2px;
    vertical-align: top;
    width: 80px;
}


.grid_photo_border_wrapper {
    background: url("/img/Starma-Astrology-Profile-Pic-Small-Frame.png") no-repeat scroll 0 0 #D3DBF6;
    border-spacing: 4px 4px;
    display: table-cell;
    height: 71px;
    width: 71px;
    z-index: 1;
}

#my_photos .grid_photo_wrapper .grid_photo_border_wrapper, #inbox_user_list .grid_photo_border_wrapper, #my_tiny_photo .grid_photo_border_wrapper {
    background: url("/img/Starma-Astrology-Profile-Pic-Small-Frame.png") no-repeat scroll 0 0 #D3DBF6;
    border-spacing: 4px 4px;
    display: table-cell;
    height: 71px;
    width: 71px;
    z-index: 1;
}


#my_photos .grid_photo_wrapper_link {
    border-spacing: 0;
    display: inline-block;
    height: 100px;
    padding: 2px;
    vertical-align:top;
    margin: 0 10px 0 0;
}

#my_photos .grid_photo_wrapper_link .grid_photo_border_wrapper {
    background: url("/img/Starma-Astrology-Profile-Pic-Small-Frame.png") no-repeat scroll 0 0 #D3DBF6;
    border-spacing: 4px 4px;
    display: table-cell;
    height: 71px;
    width: 71px;
    z-index: 1;
}

.grid_photo {
    background-color: #000000;
    border-spacing: 0;
    display: table-cell;
    height: 63px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 63px;
}

.grid_photo a {
    display:block;
    width: 63px;
}

#my_photos .grid_photo, #inbox_user_list .grid_photo, #my_tiny_photo .grid_photo {
  background-color: #000000;
    border-spacing: 0;
    display: table-cell;
    height: 63px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 63px;
 
}

#my_photos .grid_photo a, #inbox_user_list .grid_photo a, #my_tiny_photo .grid_photo a {
  display:block;
    width: 63px;
 
}



#my_photos .grid_photo_wrapper .profile_mouseover {
  display:none;
  
}



#my_photos .grid_photo_wrapper .profile_mouseover .grid_photo, .photo_border_wrapper_compare {
  width:123px;
  height:123px;
  white-space:nowrap;
}


#my_photos .grid_photo_wrapper:hover .profile_tiny {
  display:none;
  
}

#my_photos .grid_photo_wrapper:hover .profile_mouseover {
  display:table-cell;

}

#my_photos .grid_photo_wrapper:hover {
  width:139px;
 
}


#my_photos .grid_photo_wrapper .grid_photo_border_wrapper.profile_mouseover, .photo_border_wrapper_compare {
    background: url("/img/Starma-Astrology-Compatibility-Pic-Frame.png") no-repeat scroll 0 0 #D3DBF6;
    border-spacing: 8px 7px;
    height: 139px;
    width: 139px;
}

#my_photos .grid_photo_wrapper .grid_photo_border_wrapper.profile_mouseover, .photo_border_wrapper_compare:hover {
  box-shadow: 1px 1px 15px #37406F inset;
}

.photo_border_wrapper_compare .compare_photo .user_button a, #my_photos .grid_photo_wrapper .grid_photo_border_wrapper.profile_mouseover a {
  display:block;
  width:123px;
}

#my_photos .grid_photo img{

 border:0px; 
 /*height:50px;
  width:50px;*/
}

#homepage_thumbnails {
    top: 40px;
    left: 20px;
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 2;
}

#homepage_profile_button_info {
    bottom: 1px;
    left: 49px;
    position: absolute;
    width: 252px;
}

#homepage_profile_button_info .about_photo_wrapper {
  margin: 0;
  padding: 0;
  position: absolute;
  display: block;
  width: 123px;
}

#homepage_chart_button_info {
    bottom: 39px;
    left: 31px;
    position: absolute;
    width: 252px;
}

#upload_photo_form {
   /*bottom: 175px;*/
    display: inline-block;
    left: 150px;
    position: relative;
    right: 0;
    text-align:center;
    margin-bottom: 40px;
}

.user_button {
  height:123px;
  width:123px;
  position:relative;
  vertical-align:middle;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  background:black;
  z-index:1;
  overflow:hidden;
}

.user_button img{
  
  border:0px;
}


#all_users {
  min-height:626px;
  width:710px;
  position:relative;
  top:3px;
  margin:auto;
}

#all_users .user_block {
  border-spacing:20px;
  position:relative;
  height:153px;
  position:relative;
  display:inline-block;
  text-align:center;
  line-height:0.8em;
  padding:15px;
  padding-top:32px;
  bottom:13px;
  vertical-align:bottom;
}

#all_users .user_block .user_button {
  
}

#all_users .user_block .user_button img{
  
}

#all_users .user_block .user_info{
  background-color:white;
  border:1px solid black;
  position:relative;
  left:20px;
  bottom:20px;
  width:133px;
  
}

#photo_cropper {
  padding:20px;
  padding-left:10px;
}


#photo_cropper #preview_div {
  top: 53px; right: 10px; position: absolute; overflow: hidden; width: 153px; height: 153px;
}

#photo_cropper input {
  width:auto;
  
}


#photo_cropper #crop_and_set {
  position: absolute; right: 35px; top: 240px;
  
}


#photo_cropper #rotate_left {
  margin-right: 15px;
  width: 160px;
  height:24px;
}

#photo_cropper #rotate_right {
  width: 160px;
  height: 24px;
}


