
#sign_up_container {
  width:320px; 
  height: 300px;
  margin: 38px auto;
  background:#f4f4f4; 
  border-radius:3px; 
  font-size:.9em; 
  padding: 20px 0;
  box-shadow: 1px 1px 40px black;
}


#sign_up_container .title {
  font-size: 1.6em;
  color: #6F83BB;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
}

#sign_up_container .small_title {
  font-size: .75em;
  color: #6F83BB;
  text-align: left;
  margin-bottom: 5px;
  letter-spacing: .5px;
}

#sign_up_container input[type=text] {
  color: #181A1C;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 3px;
  height: 33px;
  padding: 0 10px;
  border: 1px solid #d1d1d1;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15) inset;
}

#sign_up_container input[type=text]:focus {
  border: 1px solid #8393CA;
}

::-webkit-input-placeholder {
  
}

:-moz-placeholder { /* Firefox 18- */
 
}

::-moz-placeholder {  /* Firefox 19+ */
    
}

:-ms-input-placeholder {  
 
}

#sign_up_container input[type=file] {
  cursor: pointer;
  letter-spacing: 1px;
  display: inline-block;
  float: left;
  width: 169px;
  margin: 12px 0 7px 5px;
}

#fake_invite {
    cursor: pointer;
    font-size: 0.75em;
    left: 769px;
    position: absolute;
    top: 51px;
    z-index: 10;
}


/*-------SIGN UP SECTION 2----------*/


#gender_location {
	width: 278px;
 	margin: auto;
}

#country {
	width: 100%;
}

#gender, #country {
	margin-bottom: 10px;
}

/*------------- ERRORS ------------------*/

.gl_err {
	  color: #C82923;
    cursor: pointer;
    display: none;
    line-height: 27px;
    position: absolute;
}

.gl_err_exp {
	  color: #C82923;
  	display: none;
  	position: absolute;
  	background-color: #f4f4f4;
  	font-size: .8em;
  	z-index: 1000;
  	padding: 6px;
  	border-radius: 3px;
  	left: 318px;
}

#gl_gender_error {
	right: 168px;
  top: 102px;
}

#gl_err_gender_exp {
	width: 140px;
	top: 103px;
}

#gl_cid_error {
  top: 154px;
  right: 8px;
}

#gl_err_cid_exp {
	width: 140px;
	top: 155px;
}

#gl_city_error {
  top: 191px;
  right: 8px;
}

#gl_err_city_exp {
	width: 140px;
	top: 191px;
}

#gl_zip_error {
  right: 8px;
  top: 191px;
}

#gl_err_zip_exp {
	width: 140px;
	top: 191px;
}

#gender_error {
	display: none;
	font-size: .8em;
	color: red;
	margin-left: 10px;
}



/*------- WORDS PHOTO FORMS ----------*/

#words_photo {
	width: 278px;
	margin: auto;
}

#words_photo #my_tiny_photo {
	display: inline-block;
}

#my_tiny_photo {
  float: left;
}

#photo_form_div {
  height: 98px;
}

#upload_photo {
  letter-spacing: .5px;
  width: 76px;
  margin: 0 0 0 5px;
  cursor: pointer;
}

#submit_words_photo {
    position: absolute;
    bottom: 69px;
    left: 20px;
    width: 278px;
}

/*------------- ERRORS ------------------*/

.w_err {
  color: #C82923;
  cursor: pointer;
  display: none;
  line-height: 27px;
  position: absolute;
  right: 8px;
}

.w_err_exp {
  color: #C82923;
  cursor: pointer;
  display: none;
  position: absolute;
  background-color: #f4f4f4;
  font-size: .8em;
  z-index: 1000;
  padding: 6px;
  border-radius: 3px;
  left: 318px;
  width: 144px;
}

#w_1_error {
  top: 77px;
}

#w_1_err_exp {
  top: 77px;
}

#w_2_error {
  top: 119px;
}


#w_2_err_exp {
  top: 119px;
}

#w_3_error {
  top: 163px;
}

#w_3_err_exp {
  top: 163px;
}


.p_err {
  color: #C82923;
  cursor: pointer;
  display: none;
  line-height: 27px;
  position: absolute;
  right: 8px;
}

#p_error {
  top: 150px;
}

#p_err_exp {
  top: 150px;
}



/*------------- CROP BOX ------------------*/

#crop_box {
  width: 278px;
  margin: auto;
}

#crop_box #rotate {
    margin: auto;
    width: 265px;
    margin-bottom: 10px;
}

#crop_box #rotate_left {
  margin-right: 15px;
  width: 125px;
  height:24px;
}

#crop_box #rotate_right {
  width: 125px;
  height: 24px;
}




/*------------- TIME AND PLACE ------------------*/


#time_and_place {
  width: 278px;
  margin: auto;
}

#time {
  margin-bottom: 10px;
}

#accuracy {
  margin-bottom: 10px;
}

#unknown {
  margin-bottom: 10px;
}

