body {
  background:#8393CA /*url('/img/Starma-Astrology-RightSide.png')*/;
  /*font:1em "Comic Sans MS";*/
  /*font-family: "Comic Sans MS", "Marker Felt";*/
  line-height:23px;
  /*font:1em "cambria";*/
  /*font:1em "ClarendonBT-Light";*/
  font:1em "P22UndergroundBook","Helvetica","Arial","sans-serif";
  margin:0px;
}

body a {
  font:1em "ClarendonBT-Light";
  letter-spacing:0.1em;
  /*font:1em "Comic Sans MS";*/
  /*font-family: "Comic Sans MS", "Marker Felt";*/
  line-height:23px;
  /*font:1em "cambria";*/
  /*font:1em "P22UndergroundBook","Helvetica","Arial","sans-serif";*/
  text-decoration:none;
}

img {
  border:0px;
}

textarea {resize:none} 
/*
body select {
  -webkit-appearance:caret;
}
*/

#frame {
  width:980px;
  position:relative;
  border:0px solid black;
  min-height:890px;
}

.align_right {
  text-align:right;
}

.info_font {
  font-size: 0.8em;
}

.pointer {
  cursor: pointer;
}

#img_preloader {
  display:none;
}

#img_preloader img{
  display:none;
}

#top_ad_space { 
  line-height:70px;
  vertical-align:middle;
  margin:25px;
  background-color: #b6bfdc;
  height:75px;
  font-weight:bold;
  font-size:1.2em;
}

.flare_title {
  width:100%;
  text-align:center;
  height:22px;
  
}

.left_flare {
  background:url('/img/Starma-Astrology-FlareL.png') no-repeat;
  height:22px;
  width:23px;
  display:inline-block;
}

.right_flare {
  background:url('/img/Starma-Astrology-FlareR.png') no-repeat;
  height:22px;
  width:23px;
  display:inline-block;
}

.title_content {
  height:22px;
  font-size:1.1em;
  padding-left:15px;
  padding-right:15px;
  vertical-align:top;
  display:inline-block;
}


.circle_hilite {
  background:url('/img/arrows/RedCircle.png') no-repeat;
  height:89px;
  width:104px;
  position:absolute;
  pointer-events: none;
  z-index:1;
}

.up_arrow_hilite {
  background:url('/img/arrows/RedArrow.png') no-repeat;
  height:41px;
  width:150px;
  position:absolute;
  z-index:1;
}

.down_arrow_hilite {
  background:url('/img/arrows/RedArrow_chart.png') no-repeat;
  height:58px;
  width:190px;
  position:absolute;
  z-index:1;
}


#welcome .circle_hilite {
     bottom: 785px;
    left: 115px;
    
}

#welcome .up_arrow_hilite {
    bottom: 762px;
    left: 198px;
  
}

#starma_chart .circle_hilite {
     bottom: 643px;
     right: 695px;
     background:url('/img/arrows/RedCircle_chart.png') no-repeat;
     width:104px;
     height:120px;
}

#starma_chart .down_arrow_hilite {
    bottom: 730px;
    left: 88px;
  
}

#account_menu {
  position:a;
  background:url('/img/arrows/AccountArrow.png') no-repeat top right;
  width:165px;
  text-align:right;
    
}

#account_menu a {
  color:black;
}

#account_menu .dropdown {
  display:none;
  width:165px;
}

#account_menu:hover .dropdown {
  display:block;
}

#account_menu .dropdown ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  padding-left:0px;

}

#account_menu .dropdown ul li {
  position: relative;
  display: inline-block;
  

}

#account_menu .dropdown ul li a {
  text-align:right;
  display:block;
  width:150px;
  color:black;
  margin: 0px;
  padding:0px;
  padding-right:10px;
  line-height:37px;
  border:2px solid black;
  border-bottom:0px;
  background-color:#8393CA;
}

#account_menu .dropdown ul li:hover a {
 
  background-color:#FBF0A4;
}

.help_text {
  padding:20px;
}


.hover_box:hover span {
  display:block;
  
}

.hover_box span {
  z-index:5;
  position:absolute;
  background:#FFFFFF;
  border:1px solid black;
  width:300px;
  display:none;
  padding:10px;
  
  color:black;
}

#inbox_user_list .hover_box span {
  
  width:80px;
  padding:0px;
  font-size:0.8em;
  height:50px;
}

.starma_button a {
  padding:5px 20px;
  background-color:#8393CA;
  color:black;
  position:relative;
  cursor: pointer;
  border: 2px solid #6476A9;
}

.starma_button a:hover {
  background-color: #fbf0a4;
}

.starma_button a:active  {
  background-color: #fbf0a4;
}

#sheen {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:100;
}

#sheen #sheen_screen {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:#233388;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}

#sheen #sheen_content {
    background: none repeat scroll 0 0 white;
    border: 3px solid black;
    border-radius: 10px 10px 10px 10px;
    font-size:0.8em;
    margin: auto;
    padding: 20px;
    position: relative;
    top: 50px;
    width: 500px;
}


#page_body #boundry {
  height:790px;
  overflow:hidden;
}

#paging_links {
  display:inline;
}

#paging_links #link_current{
  text-decoration: underline;
}

#js_search_bar{
  border-top: 1px solid #A7B0CB;
  border-bottom: 1px solid #C6D0EF;
  border-left: 1px solid #B3BCD9;
  border-right: 1px solid #C6D0EF;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 0.8em;
  height: 27px;
  border-radius: 2px;
  box-shadow: 0 0 1px #969EB6 inset;
  padding: 4px;
}

#js_more_link {
    left: 500px;
    position: absolute;
    top: 13px;
    width: 400px;
    z-index: 1;
}

#js_more_link a {
  padding: 3px;
  letter-spacing: 0;
  font-size: .9em;
  color:#1D1D1D;
  font-family: "P22UndergroundBook", helvetica, arial;
  font-size: 13px;
}
#js_more_link a:hover {
  text-shadow: 0 0 1px gray;
}

#js_more_link #view_select {
  display: inline;
  width: 200px;
}

#js_back_to_top {
  
  display: none;
  height: 100px;
  left: 890px;
  position: fixed;
  text-align: center;
  top: 200px;
  width: 100px;
}

#js_back_to_top a {
  color:#1D1D1D;
  font-family: helvetica, arial;
  font-size: 14px;
  font-weight: bold;
}